[2020-09-29 08:09] vibrantachintya opened #1 "Add basic structure of the Page"
- Create all minimal tags like head, body, etc.
- Integrate CDN libraries like jQuery, AJAX, Bootstrap etc.
- Create a stylish welcome message!
- Make it responsive.

[2020-09-29 08:11] vibrantachintya opened #2 "Add functionality to input user details"
Take input from user and display results after processing.

[2020-09-29 08:35] tejaswankalluri82522 commented on #1
@vibrantachintya can i contribute

[2020-09-29 08:52] iriyagupta commented on #2
@vibrantachintya A new python file with some basic problem and user input should be added?

[2020-09-30 04:20] BassCoder2808 commented on #1
I would like to contribute on this issue.
I have created a similar web site which is a blogging site.
I have also created a repo for the same on my Github.
So I think that I will be able to do it and would like to work on it.

[2020-09-30 04:21] BassCoder2808 commented on #2
Can you be somewhat more specific about what we have to do in this. Like after we take the input what we have to do with the entered data.
I would like to work on this issue.

[2020-09-30 05:15] alt-glitch commented on #1
@vibrantachintya I can help

[2020-10-01 03:08] AVS18 commented on #1
I would like to contribute on this.

[2020-10-01 03:40] AVS18 commented on #2
I worked on the issue and made a single pull request

[2020-10-01 18:55] vibrantachintya opened #17 "Write a simple JS function to achieve below mentioned functionalities"
Write a separate function with following functionality :

- to input a string and check whether its an email or not.
- to input a string and remove all slashes, empty spaces in beginning and end.
- to input a string and make alternative chars as lowercase and UPPERCASE. Input : Achintya Output : aChInTyA

Let me know if you have any doubts!

[2020-10-01 18:57] faisaljamil25 commented on #17
Hi @vibrantachintya I would like to do this

[2020-10-01 18:58] vibrantachintya commented on #1
Basic Structure has been merged, you can CDN links though. Also some responsive functionality will be better!

[2020-10-02 05:39] krishnmohan19 commented on #17
@vibrantachintya I have a doubt that Is we have to perform all three operation on a single string ..or we have to perform these operation on three different string.

[2020-10-02 15:16] priyanshusingh0610 commented on #2
Please review #22 . Resolved all conflicts, and made changes accordingly.

[2020-10-02 17:39] #2 closed

[2020-10-03 05:44] vibrantachintya opened #26 "Write a Python program to do following"
Add a new file named - '3rdOct.py'

Add following functionalities to it :

- Take input of all the cities (5-50 any number) a traveller have visited and the date of visiting that city.
- Print the summary of the itinerary in below format.

Sample Input :
Delhi 23/09/2019
Meerut 25/09/2019
Noida 28/09/2019
Kanpur 29/09/2019
Lucknow 1/10/2019
Delhi 1/10/2019

Sample Output :
Traveller itinerary in 2

[2020-10-03 05:46] vibrantachintya opened #27 "Write a JAVA class and a function to achieve below functionality"
Add a new file named - '3rdOct.java'

Add following functionalities to it :

- Take input of all the cities (5-50 any number) a traveller have visited and the date of visiting that city.
- Print the summary of the itinerary in below format.

**Sample Input :**

Delhi 23/09/2019
Meerut 25/09/2019
Noida 28/09/2019
Kanpur 29/09/2019
Lucknow 1/10/2019
Delhi 1/10/2019

**Sample Output :**

Traveller it

[2020-10-03 05:49] amitm99 commented on #26
Can you assign it to me. please!

[2020-10-03 05:49] shobhitsundriyal commented on #26
can I work on it?

[2020-10-03 05:50] Capt-Titanium commented on #26
I can work on this issue. Please clarify if you want the code to traverse a file or take input from terminal from the user.

[2020-10-03 05:55] vibrantachintya opened #28 "Update readme file with more details"
Add info about the kind of issues we have opened.

Some info about the process of raising PR and some best practices.

Also some info about Hacktoberfest for noobs to participate.

[2020-10-03 05:59] vibrantachintya commented on #26
@Capt-Titanium You can use any way you wish to!

[2020-10-03 06:01] vibrantachintya commented on #26
You have time till 4 PM to submit this. If @Capt-Titanium doesn't completes by then I will assign it to someone else.

We post such problem daily in the morning 10 AM for almost all languages! You can check our other issues!

[2020-10-03 06:02] yashsk98 commented on #27
Should the sample input be read from the command line, or should the function receive a List as an argument?

[2020-10-03 06:02] Capt-Titanium commented on #26
Ok! Will do it right away then.

[2020-10-03 06:04] vibrantachintya commented on #27
You can take any option.

[2020-10-03 06:04] vibrantachintya opened #29 "Write a JavaScript function to achieve below functionality"
Add a new file named - '3rdOct.js'

Add following functionalities to it :

- Take input of all the cities (5-50 any number) a traveller have visited and the date of visiting that city.
- Print the summary of the itinerary in below format.

**Sample Input :**

Delhi 23/09/2019
Meerut 25/09/2019
Noida 28/09/2019
Kanpur 29/09/2019
Lucknow 1/10/2019
Delhi 1/10/2019

**Sample Output :**

Traveller itin

[2020-10-03 06:06] vibrantachintya opened #30 "Write a C++ function to achieve below functionality"
Add a new file named - '3rdOct.cpp'

Add following functionalities to it :

- Take input of all the cities (5-50 any number) a traveller have visited and the date of visiting that city.
- Print the summary of the itinerary in below format.

**Sample Input :**

Delhi 23/09/2019
Meerut 25/09/2019
Noida 28/09/2019
Kanpur 29/09/2019
Lucknow 1/10/2019
Delhi 1/10/2019

**Sample Output :**

Traveller iti

[2020-10-03 06:20] vibrantachintya opened #31 "Design a HTML file with following functionality"
Name new file : '3rdOct.html'

Functionality :

- Create a simple HTML form which will take sign up for Twowaits CMI program. Check form  [here](http://bit.ly/TwowaitsCMI).
- Take all the columns displayed in the above form and also all form validations as possible in the above form.
- You are free to choose any styling you wish.
- Use all the CSS, JS code within same file only. **Don't create any

[2020-10-03 06:25] manasivaraiya commented on #31
I'd like to contribute

[2020-10-03 06:26] Sumit-Puri commented on #30
Assign me ..

[2020-10-03 06:38] Manas502 commented on #30
Interested

[2020-10-03 06:39] ngoc199 commented on #31
I'd like to make a responsive form for this task.

[2020-10-03 06:43] shathurshan commented on #31
Hey I like to contribute

[2020-10-03 06:57] navya252001 commented on #28
I can help you
Sir please help me in HACKTOBER FEST 2020
We will honor all valid pull requests prior to this change, and as of October 3, 2020 at 12:00:00 UTC – and October 3 in all time zones – pull requests will only count toward earning a T-shirt or planting a tree if they are submitted in a repository classified with the ‘hacktoberfest’ topic. The pull requests will also need to be merged, app

[2020-10-03 07:15] MathurAditya724 commented on #29
Hey, can you assign this to me? 😄

[2020-10-03 07:46] vibrantachintya commented on #31
I have assigned it to @ngoc199, if fails to submit by 4PM, I will assign to someone else

[2020-10-03 07:47] vibrantachintya commented on #30
Assigned to @Sumit-Puri, @Manas502 you can check our web related issues, you have profile relevant to that.

[2020-10-03 07:48] vibrantachintya commented on #29
Assigned, make sure you submit by EOD

[2020-10-03 07:49] vibrantachintya commented on #28
Do mention college you belong to!

[2020-10-03 07:50] #17 closed

[2020-10-03 07:50] navya252001 commented on #28
Indian Institute of Technology(BHU) Varanasi

[2020-10-03 07:57] ysnarafat commented on #30
interested

[2020-10-03 08:12] vibrantachintya commented on #28
Good. We have some college specific communities, that's why asked!

[2020-10-03 10:34] SuryaSekhar14 commented on #30
Assign me please

[2020-10-03 10:53] manasivaraiya commented on #31
ideally i should have been assigned this. right??

[2020-10-03 11:33] vibrantachintya commented on #31
Good work @manasivaraiya, do join our Telegram group for more updates : https://t.me/joinchat/AAAAAFbbJqzUyF18Okx94A

[2020-10-03 11:33] #31 closed

[2020-10-03 11:35] vibrantachintya commented on #30
Assigned to you @SuryaSekhar14 do submit by EOD. For more support join our Telegram Channel https://t.me/joinchat/AAAAAFbbJqzUyF18Okx94A

[2020-10-03 11:38] #1 closed

[2020-10-03 11:39] ysnarafat commented on #30
I have already conpleted the task.. assign me

[2020-10-03 17:47] vibrantachintya commented on #30
OK @ysnarafat

[2020-10-03 17:50] yashsk98 commented on #27
Hi. I've taken the second option and initiated a PR for now. If I do find time tomorrow, I would like to write the other constructor that should enable input to be read from the command line. Thanks!

[2020-10-03 17:51] vibrantachintya commented on #27
Good. I will accept your PR and close this issue!

[2020-10-03 17:51] #27 closed

[2020-10-03 18:41] suyash71 commented on #26
hey, solved this issue. Please review and merge.

[2020-10-04 05:08] #30 closed

[2020-10-04 05:08] #29 closed

[2020-10-04 05:08] #26 closed

[2020-10-04 05:18] vibrantachintya opened #37 "Write a JAVA class and a function to achieve below functionality"
Add a new file named - '4thOct.java'

**"ZigZag Problem"**, Add following functionalities to it :

- Take input of number of rows and columns.
- Print the following zigzag pattern.

Sample Input :
7 16

Sample Output :
<pre>
1                       13
  2                  12  14
    3              11        15
      4          10             16
        5      9
          6  8
            7
</pre>

[2020-10-04 05:21] vibrantachintya opened #38 "Write a Python function to achieve below functionality"
Add a new file named - '4thOct.py'

**"ZigZag Problem"**, Add following functionalities to it :

- Take input of number of rows and columns.
- Print the following zigzag pattern.

Sample Input :
7 16

Sample Output :
<pre>
1                       13
  2                  12  14
    3              11        15
      4          10             16
        5      9
          6  8
            7
</pre>

W

[2020-10-04 05:22] vibrantachintya opened #39 "Write a JavaScript function to achieve below functionality"
Add a new file named - '4thOct.js'

**"ZigZag Problem"**, Add following functionalities to it :

- Take input of number of rows and columns.
- Print the following zigzag pattern.

Sample Input :
7 16

Sample Output :
<pre>
1                       13
  2                  12  14
    3              11        15
      4          10             16
        5      9
          6  8
            7
</pre>

W

[2020-10-04 05:23] vibrantachintya opened #40 "Write a C++ function to achieve below functionality"
Add a new file named - '4thOct.cpp'

**"ZigZag Problem"**, Add following functionalities to it :

- Take input of number of rows and columns.
- Print the following zigzag pattern.

Sample Input :
7 16

Sample Output :
<pre>
1                       13
  2                  12  14
    3              11        15
      4          10             16
        5      9
          6  8
            7
</pre>

[2020-10-04 05:29] vibrantachintya opened #41 "Design a HTML file with following functionality"
Add a new file named - '4thOct.html'

**"COVID Tracker"**

Create below displayed using :

![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/4thOct-image.png)

Take static data, try to match design as close as you can to the shown image.

Use all the CSS, JS code within same file only. *Don't create any separate file for them, only add in 4thOct.html*

We will assign iss

[2020-10-04 05:32] sambatlim commented on #41
Could you assign this for me?

[2020-10-04 05:42] sambatlim commented on #41
college: Prince of Songkla University - Thailand.

[2020-10-04 05:42] SagarGi commented on #37
hlw can you assign me this? i am interested.

[2020-10-04 05:43] Rishabrp99 commented on #39
Hey @vibrantachintya Can you please assign this to me..??
This is Rishab, from Thakur college of Engineering and Technology.

[2020-10-04 05:44] vibrantachintya commented on #41
Ok @sambatlim, we give 1 hour for more people to apply, if no one else does. We will assign you!

[2020-10-04 05:49] KshitijDarekar commented on #41
Hi @vibrantachintya , I would like to work on this issue.
College : Ramrao Adik Institute of Technology (Navi Mumbai,India)

[2020-10-04 05:53] vibrantachintya opened #44 "Design a XML file in Android with following functionality"
Add a new file named - '4thOct.xml', only the layout file.

**"COVID Tracker"**

Create below displayed using :

![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Android/4thOct-android-image.png)

Take static data, try to match design as close as you can to the shown image. You may create the background as you like!

*Only push layout XML file, only add in 4thOct.xml*

[2020-10-04 05:59] BhuvaneshPatil commented on #41
Hi I would like to contribute on this issue.
College- Sinhgad College of Engineering,Pune

[2020-10-04 06:21] Ashutosh-web commented on #40
Hello, @vibrantachintya I would like to take this issue. College: National Institute of Technology Jalandhar

[2020-10-04 06:42] DjDeveloperr commented on #39
Hello there, @vibrantachintya , I would like to take this. I cannot mention my college for obvious reasons.
I've made this function just now, would like to know if I can PR ^^

[2020-10-04 06:48] PushpikaWan commented on #38
I would like to try this one. Can u assign this to me please

[2020-10-04 06:58] Ashutosh-web commented on #40
Hello, @vibrantachintya  I would like to work on this problem.
College: National Institute of Technology, Jalandhar

[2020-10-04 07:16] MrTyagi18 commented on #39
Hey this is my first time contributing to open source it would be great if you could assign it to me . I have the code ready. I am from krishna engineering college

[2020-10-04 07:29] vishal1975 commented on #37
i am interested, ABES Engineering College

[2020-10-04 07:43] Dhananjay1999singh commented on #39
Hey sir,This will be my first contribution to an open source,I want to contribute here.
please assign this to me,Am from abesit

[2020-10-04 07:54] vibrantachintya commented on #41
Submit the file with 4thOct-2.html as I have already merged @sambatlim PR.

[2020-10-04 07:59] prasantbajpai007 commented on #37
hey i m from Rajkiya engineering college,bijnor and i would like to contribute in this this code

[2020-10-04 08:05] vibrantachintya commented on #39
We will select the best PR among you all and merge that!

[2020-10-04 08:07] Dhananjay1999singh commented on #39
Sir am new
Please tell me how can i win hacktober fest

On Sun, 4 Oct 2020, 1:35 pm Achintya Gaumat, <notifications@github.com>
wrote:

[2020-10-04 08:11] rishabh115 commented on #39
Bro, It's not a competition. Hacktoberfest is a month long contribution initiative for open source projects.

[2020-10-04 08:13] BhuvaneshPatil commented on #41
Where?

[2020-10-04 08:15] Dhananjay1999singh commented on #39
sir i will give my best
Thankyou

On Sun, Oct 4, 2020 at 1:41 PM Rishabh Maurya <notifications@github.com>
wrote:

[2020-10-04 08:16] sambatlim commented on #41
You should create 4thOct-2.html instead of 4thOct.html otherwise it will cause merge conflict.

[2020-10-04 08:30] BhuvaneshPatil commented on #41
Got it..!!!Thank you..!!

[2020-10-04 09:00] Yashika25 commented on #41
This issue is still open, can I start working on this?
College Name - Amity School of Engineering and Technology (GGSIPU, Delhi)

[2020-10-04 09:06] Ayazzia01 commented on #37
Hi I am new to GitHub and coding. Will be taking admission in college this year. Know beginner's level JAVA. Will be able to solve this question. Please assign this to me.

[2020-10-04 09:07] the-brainiac commented on #38
Hello Achintya,
Could you please assign it to me ?

[2020-10-04 09:08] Yashika25 commented on #40
Hi, can I try this issue?
College Name - Amity School of Engineering and Technology (GGSIPU, Delhi).

[2020-10-04 09:43] ArunKumar-25 opened #48 "A function to check a matrix is magic square using python"
hey @vibrantachintya i would like to contribute on this issue. can you assign this to me

[2020-10-04 10:01] KshitijDarekar commented on #41
@vibrantachintya with what name should I submit the file as 4thOct.html and 4thOct-2.html is taken I guess?

[2020-10-04 10:50] vibrantachintya commented on #48
Done, add in Python folder with file name. (Your username).py

[2020-10-04 10:52] vibrantachintya commented on #41
@KshitijDarekar do it with 4thOct-3.html

@Yashika25 you can submit as well

Do join our telegram channel for more updates : https://t.me/joinchat/AAAAAFbbJqzUyF18Okx94A

[2020-10-04 10:52] vibrantachintya commented on #40
Ok @Yashika25 name the file 4thOct-2.cpp

[2020-10-04 10:54] vibrantachintya commented on #37
All the best @Ayazzia01

[2020-10-04 10:57] Yashika25 commented on #41
Thanks, I'll submit it with 4thOct-4.html name as soon as its done. I've joined the telegram channel just now.

[2020-10-04 10:57] Yashika25 commented on #40
Okay thank you!

[2020-10-04 11:07] clavy123 commented on #48
can you assign this to me?

[2020-10-04 11:30] madhhuurrii commented on #28
Hii @vibrantachintya , I would like to update the readme with few basic steps for first time contributors on how to work locally with the code, with inages of fork, clone etc and git commands, and faq abt hacktoberfest 2020

[2020-10-04 11:30] madhhuurrii commented on #28
Please assign me this issue, if possible!

[2020-10-04 11:59] vrushti-mody commented on #38
Can I work on this?

[2020-10-04 12:29] vibrantachintya commented on #38
OK @vrushti-mody, join our Telegrama channel http://bit.ly/TwowaitsTelegram

[2020-10-04 12:31] vibrantachintya commented on #37
I have merged one PR of @vishal1975 , if anyone else wish to contribute. Name your file '4thOct-2.java'.

Do join our Telegram Group for more info http://bit.ly/TwowaitsTelegram

[2020-10-04 12:32] vibrantachintya commented on #28
Ok

[2020-10-04 14:35] #48 closed

[2020-10-04 15:20] Ayazzia01 commented on #37
Okay so I attempted the question. Didn't know you could solve using 2D arrays. Well you learn new things everyday.
I took the simple approach and proceeded via for loops and integer increment. I am able to obtain the correct result but only under a given domain of integers. Can anyone help me? I do understand the solution by @vishal1975 . I just wanna understand how do I correct my mistakes.

[2020-10-04 15:27] bhed01 commented on #40
Could you please assign it to me?
College : IERT Prayagraj

[2020-10-04 15:51] #38 closed

[2020-10-04 16:01] akhil27styles commented on #28
I  would like to update the readme @vibrantachintya

[2020-10-04 16:32] #28 closed

[2020-10-04 16:49] abhishek1147 commented on #37
I am Abhishek from ABES EC.

[2020-10-04 17:42] rahmatsyam commented on #44
Halo, can I contribute this?

[2020-10-04 18:40] vibrantachintya commented on #44
Sure @rahmatsyam

[2020-10-04 20:23] Ayazzia01 commented on #37
Just a request plz don't take this down tomorrow I wanna give it one last shot.

[2020-10-04 22:36] Strigssson commented on #41
Hello, I would like to work on this issue as a school assignment.
School - Technical University of Košice, Slovakia

[2020-10-05 00:35] rahmatsyam commented on #44
oke fren

[2020-10-05 01:38] ahnafhf21 commented on #41
Hi, Can I contribute to this issue?

[2020-10-05 04:56] vibrantachintya commented on #41
Time is over. Check our new issues that I am creating for 5thOct.

[2020-10-05 04:56] #41 closed

[2020-10-05 04:56] #40 closed

[2020-10-05 04:57] #39 closed

[2020-10-05 05:13] vibrantachintya opened #63 "Write a JAVA class and a function to achieve below functionality"
Add a new file named - '5thOct.java'

**"Spiral Problem"**, Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
- Print the following spiral pattern.

Sample Input :
25
45

Sample Output :
![](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/5thOct-image.png)

![](https://raw.githubusercontent.com/twowaits/make-pull-request/mas

[2020-10-05 05:19] vibrantachintya opened #64 "Write a function in Python to achieve below functionality"
Add a new file named - '5thOct.py'

**"Spiral Problem"**, Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
- Print the following spiral pattern.

Sample Input :
25
45

Sample Output :
![](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/5thOct-image.png)

![](https://raw.githubusercontent.com/twowaits/make-pull-request/maste

[2020-10-05 05:19] MathurAditya724 commented on #64
Hi again @vibrantachintya, Can I work on this problem? 😀

[2020-10-05 05:20] vibrantachintya opened #65 "Write a function in JavaScript to achieve below functionality"
Add a new file named - '5thOct.js'

**"Spiral Problem"**, Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
- Print the following spiral pattern.

Sample Input :
25
45

Sample Output :
![](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/5thOct-image.png)

![](https://raw.githubusercontent.com/twowaits/make-pull-request/maste

[2020-10-05 05:21] vibrantachintya opened #66 "Write a function in C++ to achieve below functionality"
Add a new file named - '5thOct.cpp'

**"Spiral Problem"**, Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
- Print the following spiral pattern.

Sample Input :
25
45

Sample Output :
![](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/5thOct-image.png)

![](https://raw.githubusercontent.com/twowaits/make-pull-request/mast

[2020-10-05 05:27] vibrantachintya opened #67 "Design a HTML File with following functionality"
Add a new file named - '5thOct.html'

**"LinkedIn Profile"**

Create below displayed design :

![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/5thOct-image3.png)

For images and color refer [this linkedin profile](https://www.linkedin.com/in/achintya-gaumat-b6569365/). Take static data, try to match design as close as you can to the shown image.

Use all the CSS

[2020-10-05 05:29] vibrantachintya commented on #64
Sure

[2020-10-05 05:30] #37 closed

[2020-10-05 06:17] swapnil-tiwari commented on #66
Hey, I would like to do this, (From NIET)

[2020-10-05 06:30] Ayazzia01 commented on #63
Assign this to me plz

[2020-10-05 06:33] nitinshukla413 commented on #67
can you please assign this task to me?

[2020-10-05 06:38] vibrantachintya commented on #66
Sure

[2020-10-05 06:38] ishika172 commented on #67
can you please assign this to me?

[2020-10-05 06:40] bhed01 commented on #67
Please assign this to me.

[2020-10-05 06:41] bhed01 commented on #65
Could you assign it to me?

[2020-10-05 06:42] ishika172 commented on #63
Please assign this to me
Galgotias College of Engineering an Technology

[2020-10-05 06:44] ishika172 commented on #65
Can you please assign it to me?
Galgotias College of Engineering and Technology

[2020-10-05 06:47] vibrantachintya commented on #63
Will you be able to do all these tasks within one day? @ishika172

[2020-10-05 06:50] the-brainiac commented on #64
Hello @vibrantachintya ,
Could you please assign it to me ?

**Name :** Shivshanker Singh
**College :** IERT Prayagraj

[2020-10-05 06:57] ishika172 commented on #63
Yes

[2020-10-05 07:15] vishal1975 commented on #63
i am interested , ABES Engineering College

[2020-10-05 08:18] KeshriAyushi22 commented on #67
Can you assign this to me?
Also, we need to create that functionality or just the design? Functionality like uploading the pics , changing the info

[2020-10-05 09:27] vibrantachintya commented on #67
Just design

[2020-10-05 10:04] bhed01 commented on #63
Could you assign this to me?

[2020-10-05 10:59] vibrantachintya commented on #63
Don't ask "could" or "can". I can surely do as I am the admin. SO ask, 'will' you or "kindly" assign! :P

[2020-10-05 13:46] chetna5404 commented on #67
Assign this to me

[2020-10-05 18:09] devanshsa5a commented on #66
is this issue closed now?

[2020-10-05 18:58] imshahnawazdevil commented on #66
I Would like to to do (HMRITM)

[2020-10-05 19:02] rachitmanas commented on #66
I would really like it if you could assign this to me. (College -IIT Mandi)

[2020-10-05 19:18] vibrantachintya commented on #66
You have time till 11am to submit, no need for assigning. Just raise the PR

[2020-10-05 19:28] yash-sudo commented on #66
I made a PR for this. Please have a look(College- IIT Mandi)

[2020-10-05 19:36] mohdarif8299 commented on #44
Can I Work on this?

[2020-10-06 00:11] Yashika25 commented on #67
Can I work on this issue, please?

[2020-10-06 02:45] Geeky-star commented on #67
can I work on this issue?

[2020-10-06 04:10] Priyanshuparihar commented on #64
Hello, @vibrantachintya ,can u assign this problem to me
NAME : Priyanshu Parihar
COLLEGE : Jodhpur Institute of Engineering & Technology

[2020-10-06 04:14] Priyanshuparihar commented on #66
Hello, @vibrantachintya can u assign me this problem.
Name : Priyanshu Parihar
College : Jodhpur Institute of Engineering & Technology

[2020-10-06 04:40] #66 closed

[2020-10-06 04:41] vibrantachintya commented on #67
Yes. You have time till 11 AM to submit

[2020-10-06 04:41] #65 closed

[2020-10-06 04:42] vibrantachintya commented on #64
This issue's time is over. You can try for next issue we will open at 11 AM.

[2020-10-06 04:42] #64 closed

[2020-10-06 04:42] #63 closed

[2020-10-06 04:42] vibrantachintya commented on #44
Sure

[2020-10-06 04:48] Priyanshuparihar commented on #66
I have to do normal PR or I have add some label

On Tue, 6 Oct, 2020, 10:10 AM Achintya Gaumat, <notifications@github.com>
wrote:

--

 <https://jietjodhpur.ac.in/>

   
<https://www.facebook.com/jietgroup/>
<https://www.instagram.com/jietjodhpur>
<https://www.linkedin.com/in/jiet-jodhpur-480502157/>
<https://www.twitter.com/jiet_jodhpur> <https://wa.me/919799999186>
<https://www.youtube.com/user/

[2020-10-06 04:58] vibrantachintya opened #87 "6th Oct : Design a HTML File with following functionality"
Add a new file named - '6thOct.html'

**"Tathastu Learning Page"**

Create below displayed design :

![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/6thOct-image1.png)

For images and color refer [this tathastu page](http://tathastu.twowaits.in/learn.php). Take static data, try to match design as close as you can to the shown image.

Use all the CSS, JS code wit

[2020-10-06 04:59] chetna5404 commented on #67
Hello sir,
I could not submit assigned work till 11am today because  Today is my exam
till 12:30p.m.
Kindly give me some more time to submit it

On Tue, Oct 6, 2020, 10:11 AM Achintya Gaumat <notifications@github.com>
wrote:

[2020-10-06 04:59] vibrantachintya commented on #66
Normal PR

[2020-10-06 05:06] anant2207 commented on #87
Sir, can you please assign this task to me?

[2020-10-06 05:07] vibrantachintya opened #88 "6th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '6thOct.cpp'

**"Fibonacci Series with a Twist"**, Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
- Print the Fibonacci Series upto n while replacing prime numbers, all multiples of 5 by 0.

Sample Input :
12
27

Sample Output :
1 1 0 0 0 8 0 21 34 0 0 144
1 1 0 0 0 8 0 21 34 0 0 144 0 377 0 987 0 2584 4181 0 10946 17711 0 46

[2020-10-06 05:13] Yashika25 commented on #87
Please assign this issue to me.

[2020-10-06 05:14] sudesh1611 commented on #88
@vibrantachintya Can you assign this to me?

[2020-10-06 05:16] vibrantachintya opened #89 "6th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '6thOct.py'

**"Fibonacci Series with a Twist"**, Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
- Print the Fibonacci Series upto n while replacing prime numbers, all multiples of 5 by 0.

Sample Input :
12
27

Sample Output :
1 1 0 0 0 8 0 21 34 0 0 144
1 1 0 0 0 8 0 21 34 0 0 144 0 377 0 987 0 2584 4181 0 10946 17711 0 463

[2020-10-06 05:17] Yashika25 commented on #88
Please assign this issue to me.

[2020-10-06 05:17] vibrantachintya opened #90 "6th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '6thOct.js'

**"Fibonacci Series with a Twist"**, Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
- Print the Fibonacci Series upto n while replacing prime numbers, all multiples of 5 by 0.

Sample Input :
12
27

Sample Output :
1 1 0 0 0 8 0 21 34 0 0 144
1 1 0 0 0 8 0 21 34 0 0 144 0 377 0 987 0 2584 4181 0 10946 17711 0 463

[2020-10-06 05:18] vibrantachintya opened #91 "6th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '6thOct.java'

**"Fibonacci Series with a Twist"**, Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
- Print the Fibonacci Series upto n while replacing prime numbers, all multiples of 5 by 0.

Sample Input :
12
27

Sample Output :
1 1 0 0 0 8 0 21 34 0 0 144
1 1 0 0 0 8 0 21 34 0 0 144 0 377 0 987 0 2584 4181 0 10946 17711 0 4

[2020-10-06 05:19] suraj111999 commented on #89
Can you please assign this issue to me?

[2020-10-06 05:19] anant2207 commented on #89
Sir, can you please assign this task to me?

[2020-10-06 05:24] Rohit-varma commented on #88
Can you please assign this to me
any my doubt is : can the same task be assigned to multiple persons

[2020-10-06 05:26] amity-ak97 commented on #89
Can you please assign it to me as well?
College: CV Raman Global University, Bhubaneswar

[2020-10-06 05:27] amity-ak97 commented on #91
Can you please assign it to me?
College: CV Raman Global University, Bhubaneswar

[2020-10-06 05:30] swapnil-tiwari commented on #90
I would like to do this. Would you please assign me this? (NIET)

[2020-10-06 05:31] anant2207 commented on #91
Sir, can you please assign this issue to me?

[2020-10-06 05:32] vibrantachintya commented on #91
Mention your college @anant2207

[2020-10-06 05:36] DeeptiPandey commented on #87
Sir, would you please assign this task to me?

[2020-10-06 05:38] Raven49 commented on #91
kindly assign this problem to me
College :Harcourt Butler Technological University

[2020-10-06 05:39] Dare101 commented on #91
kindly assign this problem to me
College :Dhirubhai Ambani Institute of Information and Communication Technology

[2020-10-06 05:40] SpiderMath commented on #90
Uh.. could you please tell me what does EoD mean? I am not really good at Abbreviations..
Also I am not in any College. I am still in School. Does this Mean that i can't Help?

[2020-10-06 05:41] ya7sh commented on #89
Could you please assign this to me?
College - Ajay kumar garg engineering college

[2020-10-06 05:42] akhil27styles commented on #91
Please assign me this task @vibrantachintya

[2020-10-06 05:42] akhil27styles commented on #87
Please assign me this task @vibrantachintya

[2020-10-06 05:43] vibrantachintya commented on #90
EoD means End of Day. You could have just googled.

You can participate, no issues!

[2020-10-06 05:44] akhil27styles commented on #90
Please assign me this task @vibrantachintya
College Jss noida

[2020-10-06 05:45] vibrantachintya commented on #88
Yp. We accept multiple submissions as mentioned in issue desc itself.

[2020-10-06 05:45] vibrantachintya commented on #87
@DeeptiPandey mention your college

[2020-10-06 05:46] DeeptiPandey commented on #87
College: Ajay Kumar Garg Engineering College

[2020-10-06 05:47] Priyanshuparihar commented on #89
2 is aslo prime So why are you not replace this with 0

[2020-10-06 05:49] gmegha12 commented on #91
Can you please assign it to me?
College- poornima college of engineering, jaipur

[2020-10-06 05:50] Rohit-varma commented on #88
Just a small doubt, here why are we not considering 2 as a prime number

[2020-10-06 05:56] DeeptiPandey commented on #91
Sir, can you please assign this task to me?
College: Ajay Kumar Garg Engineering College,Ghaziabad

[2020-10-06 06:03] amity-ak97 commented on #88
Can I be assigned to this issue as well?
College: CV Raman Global University, Bhubaneswar

[2020-10-06 06:04] bhed01 commented on #88
I have a doubt, why is 22nd number in series (i.e. 17711) is replaced with 0. 17711 is neither prime nor multiple of 5
89 * 199 = 17711

[2020-10-06 06:10] Priyanshuparihar commented on #89
89 is also a prime no.

[2020-10-06 06:12] ishika172 commented on #91
Can I please work on this. Please assign it to me.
College : Galgotias College of Engineering and Technology

[2020-10-06 06:23] vibrantachintya commented on #89
True. I just created in a hurry. You must check for all of them in your solution.

[2020-10-06 06:26] ChiragBolakani commented on #87
Hey, can you please assign this task to me? College : KC College

[2020-10-06 06:27] vibrantachintya commented on #88
Updated test cases!

[2020-10-06 06:27] vibrantachintya commented on #89
Updated test cases!

[2020-10-06 06:28] vibrantachintya commented on #90
Updated test cases!

[2020-10-06 06:28] vibrantachintya commented on #91
Updated test cases!

[2020-10-06 06:36] ayush-mishra-git commented on #91
Can you please assign this to me.
College Name: G.L. Bajaj Institute Of Technology and Management

[2020-10-06 06:55] DeeptiPandey commented on #89
Sir, can you please assign this issue to me?
College: Ajay Kumar Garg Engineering College

[2020-10-06 07:03] Natal89 commented on #90
Hello @vibrantachintya , can you assign me to this, please? My college its IFRN.

[2020-10-06 07:21] vibrantachintya commented on #90
OK @Natal89

[2020-10-06 07:22] vibrantachintya commented on #87
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 07:22] vibrantachintya commented on #67
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 07:22] vibrantachintya commented on #88
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 07:23] vibrantachintya commented on #89
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 07:23] vibrantachintya commented on #90
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 07:23] vibrantachintya commented on #91
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 07:23] vibrantachintya commented on #44
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 09:28] vishal1975 commented on #91
Kindly assign this to me
college, ABES Engineering College

[2020-10-06 09:29] vibrantachintya commented on #91
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 10:21] shashwatbangar commented on #90
Hii @vibrantachintya, can you assign me this problem, please? I would love to solve it !!

[2020-10-06 10:25] amity-ak97 opened #115 "Typos in README.md"
There are few typos in README.md

[2020-10-06 10:26] amity-ak97 commented on #115
I am working to resolve all those typos.

[2020-10-06 10:30] Raven49 commented on #91
will there be only 2 testcases?

[2020-10-06 10:49] Chaitali3005 commented on #89
Sir ,please assigne me this issue
college:Ramrao Adik Institute of Technology

[2020-10-06 11:28] Divyessh commented on #89
SIr could you please assign this task to me?
I am in class 10

[2020-10-06 12:12] alkatrivedi commented on #88
I would also like to work on it. May I?

[2020-10-06 12:31] shashwatbangar commented on #90
Hii @vibrantachintya, can you assign me this problem, please? I would love to solve it !!
I am from Shri Vaishnav Vidhyapeeth Vishvidhalaya, Indore(M.P)

[2020-10-06 12:42] Ayazzia01 commented on #91
Assign this to me plz

[2020-10-06 12:56] gmegha12 commented on #91
how to upload this java file? can anyone tell me?

[2020-10-06 13:00] vibrantachintya commented on #115
No need

[2020-10-06 13:00] #115 closed

[2020-10-06 13:21] vishal1975 commented on #91
@Ayazzia01 and @vibrantachintya  Read the README FILE of this Repository ,it is clearly explained

[2020-10-06 13:37] Ayazzia01 commented on #91
#122  My first pull request. I will take admission in college this year.

[2020-10-06 13:54] vibrantachintya commented on #91
Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 14:12] chetangawai commented on #90
@vibrantachintya Can you assign this to me please. I am from Pune Institute of Computer Technology (PICT).

[2020-10-06 15:32] KshitijDarekar commented on #88
I would also like to contribute.

[2020-10-06 16:35] tanvidaware17 commented on #89
Can you please assign this issue to me?
College: DY Patil University- RAIT.

[2020-10-06 16:42] vibrantachintya commented on #89
Do before 10 am tomorrow.

Don't forget to 'star' this repo and join our Telegram group! http://bit.ly/TwowaitsTelegram

[2020-10-06 17:03] ChiragBolakani commented on #89
Hey can you please assign this task to me? @vibrantachintya

[2020-10-06 17:29] Pratiksha0100 commented on #89
Can you please assign this issue to me?
College: Ramrao Adik Institute Of Technology

[2020-10-07 05:17] vibrantachintya opened #144 "7th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '7thOct.java' in JAVA folder.

**"Convert a number to words with a twist"**, Add following functionalities to it :

- Take input the value of 'n', number which will be printed.
- Print the input number in such a way, number is printed in numerals, followed by either 'lacs', ' thousands' and using 'and' before last digit.

Sample Input :
126756
227
67878720

Sample Output :
1

[2020-10-07 05:20] vibrantachintya opened #145 "7th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '7thOct.js' in JavaScript folder.

**"Convert a number to words with a twist"**, Add following functionalities to it :

- Take input the value of 'n', number which will be printed.
- Print the input number in such a way, number is printed in numerals, followed by either 'lacs', ' thousands' and using 'and' before last digit.

Sample Input :
126756
227
67878720

Sample Output

[2020-10-07 05:21] vibrantachintya opened #146 "7th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '7thOct.py' in Python folder.

**"Convert a number to words with a twist"**, Add following functionalities to it :

- Take input the value of 'n', number which will be printed.
- Print the input number in such a way, number is printed in numerals, followed by either 'lacs', ' thousands' and using 'and' before last digit.

Sample Input :
126756
227
67878720

Sample Output :
1

[2020-10-07 05:22] vibrantachintya opened #147 "7th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '7thOct.cpp' in JavaScript folder.

**"Convert a number to words with a twist"**, Add following functionalities to it :

- Take input the value of 'n', number which will be printed.
- Print the input number in such a way, number is printed in numerals, followed by either 'lacs', ' thousands' and using 'and' before last digit.

Sample Input :
126756
227
67878720

Sample Outpu

[2020-10-07 05:26] amity-ak97 commented on #146
I would like to work on this problem. Please assign this to me.
College: CV Raman Global University, Bhubaneswar

[2020-10-07 05:28] vibrantachintya opened #148 "7th Oct : Design a HTML File with following functionality"
Add a new file named - '7thOct.html' in HTML CSS folder.

**"Wikipedia Page"**

Create below displayed design :

![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/7thOct-image1.png)

For images and color refer [this wiki page only](https://en.wikipedia.org/wiki/Hinduism). Take static data, try to match design as close as you can to the shown image, especially the

[2020-10-07 05:32] anant2207 commented on #146
Sir, can you please assign this to me.
College- Harcourt Butler Technical University

[2020-10-07 05:32] #67 closed

[2020-10-07 05:32] #87 closed

[2020-10-07 05:32] #88 closed

[2020-10-07 05:33] #89 closed

[2020-10-07 05:33] #90 closed

[2020-10-07 05:33] #91 closed

[2020-10-07 05:33] anant2207 commented on #144
Sir, can you please assign this to me.
College- Harcourt Butler Technical University

[2020-10-07 05:35] DeeptiPandey commented on #144
Sir , could you please assign this task to me.
College: Ajay Kumar Garg Engineering College

[2020-10-07 05:40] akhil27styles commented on #145
plz assign me this issue

[2020-10-07 05:40] akhil27styles commented on #144
please assign me this issue
College :JSS NOIDA

[2020-10-07 05:41] akhil27styles commented on #147
Please assign me this issue

[2020-10-07 05:44] Priyanshuparihar commented on #146
hello, can u assign me this problem

[2020-10-07 05:46] Raven49 commented on #144
I wanted to ask that what should be the appropriate limit of the indian number system .From what I have learned I think 1 arab should do within the norms of the maximum but if its not kindly suggest otherwise .

[2020-10-07 05:48] Yashika25 commented on #148
Please assign this issue to me.

[2020-10-07 05:54] ravigupta8006 commented on #147
Sir, can you please assign this tasks to me?
college - CV Raman Global University

[2020-10-07 05:56] ravigupta8006 commented on #146
Sir, can you please assign this tasks to me?
college - CV Raman Global University

[2020-10-07 06:00] ravigupta8006 commented on #44
Sir, can you please assign this tasks to me?
college - CV Raman Global University

[2020-10-07 06:08] Raven49 commented on #144
Kindly assign this to me .
College : Harcourt Butler Technological University

[2020-10-07 06:22] shaheemMPM commented on #146
sir, can you assign me this task?
college - government engineering college, thrissur

[2020-10-07 06:23] shaheemMPM commented on #145
sir, can you assign me on this task?
college - Government Engineering college, Thrissur

[2020-10-07 06:28] ya7sh commented on #146
Sir can you assign this to me?
College- Ajay Kumar Garg Engineering College

[2020-10-07 06:31] shaheemMPM commented on #148
sir, can you assign me on this task?
college - Government Engineering Collge, Thrissur

[2020-10-07 07:12] krooksgeek commented on #146
Hello, can you assign me this problem?

[2020-10-07 07:18] amity-ak97 commented on #144
I would like to work on this problem too. Please assign this to me as well.
College: CV Raman Global University

[2020-10-07 07:33] ayush-mishra-git commented on #144
Please assign  this to me.
College: G.L. Bajaj Institute Of Tech

[2020-10-07 07:34] ayush-mishra-git commented on #145
Please assign this to me
college: GL BAJAJ INSTITUTE

[2020-10-07 08:32] Ayazzia01 commented on #144
Plz assign this to me. Also, what would be the max limit for the number system? Can we go to crores too? Or is Lakh the max limit?

[2020-10-07 08:38] Aditya489 commented on #146
hi, can you assign me to work on this!
college: Kalinga Institute of Industrial Technology

[2020-10-07 09:13] Sumit-Puri commented on #147
plz assign it to me sir.

[2020-10-07 09:21] Pratiksha0100 commented on #89
Sir, can you please re-assign this issue to me? I wasn't able to complete
it due to network issues.

On Wed, Oct 7, 2020 at 11:03 AM Achintya Gaumat <notifications@github.com>
wrote:

[2020-10-07 09:54] OMEGAeNcore commented on #147
Please assign me this task sir.

[2020-10-07 10:02] samflab commented on #148
Can you assign me with this task?
College-> IGDTUW

[2020-10-07 11:08] Sumit-Puri commented on #147
@vibrantachintya check my pull request- "ISSUE:-Added 7oct.cpp"

[2020-10-07 11:47] Rsr0 commented on #147
hii @vibrantachintya  can u assign it to me?

[2020-10-07 12:06] TohDeKai commented on #146
Hi, can you assign me to work on this?
College: National University of Singapore

[2020-10-07 13:21] gmegha12 commented on #146
can you please assign it to me?
College-Poornima college of engineering

[2020-10-07 13:44] Dare101 commented on #147
Please assign me this issue

[2020-10-07 15:56] gmegha12 commented on #146
Can I submit this solution now?
Actually the time is over so should I submit it or not?

[2020-10-07 16:23] vibrantachintya commented on #146
yes

[2020-10-07 16:34] deepharshsri commented on #145
Hey, I want to contribute to this. Collage: Galgotias University

[2020-10-07 17:07] mbhole1857 commented on #145
Hi Achintya,
Can you please assign me this issue?

[2020-10-07 17:23] aritrochakraborty29 commented on #144
I want to contribute ..
Can you please assign me..?
college - University of Engineering and Management Kolkata

[2020-10-07 17:27] aritrochakraborty29 commented on #146
Can you please assign me..?
college name - University of Engineering and Management Kolkata

[2020-10-07 17:31] aritrochakraborty29 commented on #148
can you please assign me..?
college - University of Engineering and Management Kolkata

[2020-10-07 18:44] mtanmayi commented on #147
please assign the issue to me!
thank you :)

[2020-10-07 19:09] Chaitali3005 commented on #145
Can u assign me this issue?
Ramrao Adik Institute of Technology

[2020-10-08 00:03] prabhu4444 commented on #148
I would like to contribute.

[2020-10-08 04:30] deepharshsri commented on #145
Hey in the last output it will be 6 crore or 6 crores?

[2020-10-08 05:35] vibrantachintya opened #192 "8th Oct : Design a HTML File with following functionality"
Add a new file named - '8thOct.html' in HTML CSS folder.

**"Paytm Page"**

Create below displayed design :

![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/8thOct-image1.png)

For images and color refer [this paytm page only](https://www.paytm.com). Take static data, try to match design as close as you can to the shown image, especially the text in the page.

U

[2020-10-08 05:35] vibrantachintya opened #193 "8th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '8thOct.py' in Python folder.

**"Hollow Pyramid"**, Add following functionalities to it :

- Take input the value of 'n', number of rows in the pyramid which will be printed.
- Print the design as displayed in below sample I/O.

Sample Input :
6

Sample Output :
![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/8thOct-image2.png)

We will a

[2020-10-08 05:35] #148 closed

[2020-10-08 05:35] #147 closed

[2020-10-08 05:36] #146 closed

[2020-10-08 05:36] #145 closed

[2020-10-08 05:36] #144 closed

[2020-10-08 05:37] vibrantachintya opened #194 "8th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '8thOct.java' in JAVA folder.

**"Hollow Pyramid"**, Add following functionalities to it :

- Take input the value of 'n', number of rows in the pyramid which will be printed.
- Print the design as displayed in below sample I/O.

Sample Input :
6

Sample Output :
![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/8thOct-image2.png)

We will a

[2020-10-08 05:38] vibrantachintya opened #195 "8th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '8thOct.js' in JavaScript folder.

**"Hollow Pyramid"**, Add following functionalities to it :

- Take input the value of 'n', take it as a parameter in function call, number of rows in the pyramid which will be printed.
- Print the design as displayed in below sample I/O.

Sample Input :
6

Sample Output :
![Image](https://raw.githubusercontent.com/twowaits/make-pull-reques

[2020-10-08 05:39] amity-ak97 commented on #193
I would like to work on this, please assign this to me.
College- CV Raman Global University

[2020-10-08 05:39] vibrantachintya opened #196 "8th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '8thOct.cpp' in C++ folder.

**"Hollow Pyramid"**, Add following functionalities to it :

- Take input the value of 'n', number of rows in the pyramid which will be printed.
- Print the design as displayed in below sample I/O.

Sample Input :
6

Sample Output :
![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/8thOct-image2.png)

We will ass

[2020-10-08 05:45] shaheemMPM commented on #193
Sir,
Can you please assign me on this task
College - Government Engineering Collge, Thrissur

[2020-10-08 05:47] Sumit-Puri commented on #196
Assign me please.

[2020-10-08 05:47] MrTyagi18 commented on #196
hi please assign this task to me i would appreciate it very much. I am from Krishna engineering college.
thnx

[2020-10-08 05:48] shaheemMPM commented on #195
Sir,
Can you please assign me on this task
College - Government Engineering Collge, Thrissur

[2020-10-08 05:49] Rsr0 commented on #196
Hii @vibrantachintya, can i work on it.

[2020-10-08 05:50] ya7sh commented on #193
Please assign this problem to me.
College - Ajay kumar garg engineering college

[2020-10-08 05:51] Raven49 commented on #194
Kindly assign this to me

[2020-10-08 05:52] deepharshsri commented on #145
Sir I have completed the code for this.

On Thu, 8 Oct 2020, 11:06 Achintya Gaumat, <notifications@github.com> wrote:

[2020-10-08 05:58] asunawesker commented on #194
Hi can you assing this to me?

[2020-10-08 06:02] vibrantachintya commented on #194
Do mention your college!

[2020-10-08 06:02] the-brainiac commented on #193
Hello @vibrantachintya ,
Please assign it to me .

**Name :** Shivshanker Singh
**College :** IERT Prayagraj

[2020-10-08 06:03] gmegha12 commented on #193
Please assign it to me.
College-Poornima college of engineering

[2020-10-08 06:06] deepharshsri commented on #195
Hey can I work on this
Collage : Galgotias University

[2020-10-08 06:06] ravigupta8006 commented on #193
Sir , can you please assign this problem to me.
College - CV Raman Global University

[2020-10-08 06:07] ravigupta8006 commented on #196
Sir , can you please assign this problem to me.
College - CV Raman Global University

[2020-10-08 06:14] akhil27styles commented on #194
Please Assign me this Issue 3/4 PR complete
College Jss Noida

[2020-10-08 06:15] the-brainiac commented on #196
Hello @vibrantachintya ,
Please assign it to me .

**Name :** Shivshanker Singh
**College :** IERT Prayagraj

[2020-10-08 06:16] the-brainiac commented on #194
Hello @vibrantachintya ,
Please assign it to me .

**Name :** Shivshanker Singh
**College :** IERT Prayagraj

[2020-10-08 06:18] ekanshverma5 commented on #194
Sir @vibrantachintya can I you assign it to me? College HBTU kanpur.

[2020-10-08 06:21] swapnil-tiwari commented on #196
Hi, I would like to do it. (NIET)

[2020-10-08 06:25] DeeptiPandey commented on #194
Sir, can you please assign this issue to me?
College: Ajay Kumar Garg Engineering College.

[2020-10-08 06:42] rajarshi-hub commented on #196
`
[8thOct.txt](https://github.com/twowaits/make-pull-request/files/5345785/8thOct.txt)
This is my .txt of code I have written for printing pattern
Please assign the task to me
Rajarshi Tiwari
HBTU,Kanpur

`

[2020-10-08 06:44] vibrantachintya commented on #196
@rajarshi-hub do star the repo

[2020-10-08 06:44] vibrantachintya commented on #194
Do star the repo

[2020-10-08 07:31] Yashika25 commented on #196
Please assign this issue to me.

[2020-10-08 07:32] Yashika25 commented on #192
Can I try this issue, please?

[2020-10-08 07:34] akshita2903 commented on #194
Sir @vibrantachintya  can you assign this to me?
College:HBTU,kanpur

[2020-10-08 07:41] ayush-mishra-git commented on #194
Hey, please assign this to me.
College : GL Bajaj Institute.

[2020-10-08 07:52] KshitijDarekar commented on #196
I would like to work on this.

[2020-10-08 07:55] ya7sh commented on #194
Please assign this to me.
College - Ajay kumar garg

[2020-10-08 08:02] Ayazzia01 commented on #194
Please assign this to me.

[2020-10-08 08:03] Uzma-Shaikh commented on #194
Hi please assign this to me
College name: Ramrao Adik Institute of Technology

[2020-10-08 08:07] upendra2001 commented on #196
Hi,
I am Upendra Singh Chauhan from HBTU Kanpur .
I would like to contribute to this issue .
Please assign this issue to me

[2020-10-08 08:07] Pratiksha0100 commented on #194
Sir, can you please assign this task to me?
College: Ramrao Adik Institute of Technology

[2020-10-08 08:10] Raven49 commented on #193
Please assign this issue to me .
College : Harcourt Butler Technological University

[2020-10-08 08:17] vibrantachintya commented on #196
Don't forget to star the repo.

[2020-10-08 08:18] vibrantachintya commented on #194
Do star the repo.

[2020-10-08 08:26] Alisha-Ahmed commented on #193
Could you please assign this to me.

COLLEGE : Nitte Meenakshi Institute of Technology,Banglore

[2020-10-08 08:27] Aditya489 commented on #196
hello can you assign me to do this?
college - Kalinga Institute of Industrial Technology

[2020-10-08 08:28] Aditya489 commented on #193
hi can you assign me to do this?
college- Kalinga Institute of Industrial Technology, Bhubaneswar

[2020-10-08 08:37] Chaitali3005 commented on #193
Can you please assign me this?
Ramrao Adik Institute of Technology

[2020-10-08 08:47] anant2207 commented on #194
Sir, can you please assign this issue to me?
College: HBTU, Kanpur

[2020-10-08 09:18] the-brainiac commented on #195
Hello @vibrantachintya ,
Please assign it to me .

**Name :** Shivshanker Singh
**College :** IERT Prayagraj

[2020-10-08 10:00] swayam50 commented on #193
I've sent a pull request in the name of 8thOct-8.py

[2020-10-08 10:20] swayam50 commented on #193
Can you please assign me this?
College - CV Raman Global University
(Sorry, I sent a pull request (8thOct-8.py) before asking for assign)

[2020-10-08 10:21] Architg291 commented on #194
Sir,can you please assign this to me
College: Galgotia college of Engineering and Technology

[2020-10-08 10:42] Aditya489 commented on #44
sir can i be assigned for this task?
college- Kalinga Institute of Industrial Technology

[2020-10-08 11:38] Dare101 commented on #192
assign this to me please.

[2020-10-08 11:43] Siddharth2430 commented on #193
Sir, I would also like to Contribute to this issue!
**Name:** Siddharth Shrivastava
**College:** Shri Vaishnav Vidyapeeth Vishwavidyalaya
**gitHub:** @Siddharth2430
**LinkedIn:** linkedin.com/in/siddharth-shrivastava-52aa12172

[2020-10-08 11:44] Siddharth2430 commented on #194
Sir, I would also like to Contribute to this issue!
**Name:** Siddharth Shrivastava
**College:** Shri Vaishnav Vidyapeeth Vishwavidyalaya
**gitHub:** @Siddharth2430
**LinkedIn:** linkedin.com/in/siddharth-shrivastava-52aa12172

[2020-10-08 11:45] Siddharth2430 commented on #196
Sir, I would also like to Contribute to this issue!
**Name:** Siddharth Shrivastava
**College:** Shri Vaishnav Vidyapeeth Vishwavidyalaya
**gitHub:** @Siddharth2430
**LinkedIn:** linkedin.com/in/siddharth-shrivastava-52aa12172

[2020-10-08 13:24] vibrantachintya commented on #196
no need to assign, you can just submit the solution before 11 am tomorrow!

[2020-10-08 13:27] TohDeKai commented on #193
Please assign this to me, thank you very much.
College: National University of Singapore

[2020-10-08 14:00] ravi7799 commented on #194
Sir, I want to contribute to this issue
Name- Raveet Kumar
College- Bundelkhand Insititute of Engineering and Technology, Jhansi

[2020-10-08 14:09] Japoncio3k commented on #195
Please assign it too me too
Name: Gustavo Kamihara
College: University of São Paulo

[2020-10-08 14:25] vibrantachintya commented on #194
Sure just submit the code!

[2020-10-08 15:10] anm0l555 commented on #192
assign this to me
please

[2020-10-08 15:12] anm0l555 commented on #196
I want to contribute
Please tell me how to ?

[2020-10-08 15:18] anm0l555 commented on #195
Please assign it to me too
Name : Anmol Tiwari
College: Thapar University, patiala

[2020-10-08 16:08] code-netizen commented on #193
Can u assign me this issue i want to contribute.
Name:Tushar
Collage: IIT ,Guwahati

[2020-10-08 16:42] Siddharth2430 commented on #196
#253

[2020-10-08 16:45] Siddharth2430 commented on #193
#255

[2020-10-08 16:45] Siddharth2430 commented on #193
Added 8thOct-12.py - Hollow Pyramid #255

[2020-10-08 17:06] Siddharth2430 commented on #193
Respected Maintainer,
I was facing some network issues while submitting the Pull Requests for the
new Issues.
That are programs to print Hollow Pyramid using:

*C++      ==== issue #196Java     ==== issue #194Python  ==== issue #193*

That's Why I was unaware of the latest File Names already existing on the
repository.
My Latest Submissions have the following File Names:
*C++: 8thOct-10.cpp   #250

[2020-10-08 17:06] Siddharth2430 commented on #196
8thOct-10.cpp #250

[2020-10-08 17:07] Siddharth2430 commented on #194
8thOct-12.java #251

[2020-10-08 17:52] ayushgaur03 commented on #192
I would like to work on this issue...Can I be assigned??

[2020-10-09 02:59] anm0l555 commented on #196
Please assign me this issue

[2020-10-09 05:02] #196 closed

[2020-10-09 05:03] #195 closed

[2020-10-09 05:03] #194 closed

[2020-10-09 05:03] #193 closed

[2020-10-09 05:03] #192 closed

[2020-10-09 05:05] vibrantachintya opened #262 "9th Oct : Design a HTML File with following functionality"
Add a new file named - '9thOct.html' in HTML CSS folder.

**"Google Page"**

Create below displayed design :

![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/9thOct-image1.png)

For images and color refer [this Google page only](https://www.google.com/). Take static data, try to match design as close as you can to the shown image, especially the text in the page

[2020-10-09 05:14] vibrantachintya opened #263 "9th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '9thOct.cpp' in C++ folder.

**"GCD of Factorials"**, Add following functionalities to it :

- You are given two number a and b, you have to print the GCD of the factorials of these two numbers.
- Print the number on the basis of sample I/O provided below.

Sample Input :
5 120

Sample Output :
120

We will assign issues after reviewing your profile, not like if you comment

[2020-10-09 05:16] vibrantachintya opened #264 "9th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '9thOct.java' in JAVA folder.

**"GCD of Factorials"**, Add following functionalities to it :

- You are given two number a and b, you have to print the GCD of the factorials of these two numbers.
- Print the number on the basis of sample I/O provided below.

Sample Input :
5 120

Sample Output :
120

We will assign issues after reviewing your profile, not like if you commen

[2020-10-09 05:17] vibrantachintya opened #265 "9th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '9thOct.py' in Python folder.

**"GCD of Factorials"**, Add following functionalities to it :

- You are given two number a and b, you have to print the GCD of the factorials of these two numbers.
- Print the number on the basis of sample I/O provided below.

Sample Input :
5 120

Sample Output :
120

We will assign issues after reviewing your profile, not like if you commen

[2020-10-09 05:18] vibrantachintya opened #267 "9th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '9thOct.js' in JavaScript folder.

**"GCD of Factorials"**, Add following functionalities to it :

- You are given two number a and b, you have to print the GCD of the factorials of these two numbers.
- Print the number on the basis of sample I/O provided below.

Sample Input :
5 120

Sample Output :
120

We will assign issues after reviewing your profile, not like if you co

[2020-10-09 05:20] sarthakw7 commented on #262
Hey , I would like to work on this...

College - Sardar Vallabhbhai National Institute Of Technology

[2020-10-09 05:21] Sumit-Puri commented on #263
Plz Assign it to me.

[2020-10-09 05:22] Aditya489 commented on #265
Ok! I'm up for this task, would like to be get assigned! Thank you
College- Kalinga Institute of Industrial Technology

[2020-10-09 05:35] swayam50 commented on #265
I would like to get assigned to this.
College - CV Raman Global University

[2020-10-09 05:40] jubi020 commented on #263
I would like to work on this .kindly assign this to me.
College - HBTU , Kanpur

[2020-10-09 05:45] Sumit-Puri commented on #263
added my PR.

[2020-10-09 05:47] Harshit1487 commented on #265
Please assigned this task to me .
College: Krishna Institute of Engineering and Technology.

[2020-10-09 05:49] vibrantachintya commented on #263
Merged

[2020-10-09 05:53] swapnil-tiwari commented on #265
Hi, please assign this to me

[2020-10-09 05:55] Altamashk7 commented on #263
please assign it to me

[2020-10-09 05:56] Altamashk7 commented on #264
please assign it to me

[2020-10-09 05:58] Altamashk7 commented on #263
please assign it to me
College- MIET Meerut

[2020-10-09 06:01] ravi7799 commented on #264
Please assign it to me.

[2020-10-09 06:01] vibrantachintya commented on #264
College?

[2020-10-09 06:02] vibrantachintya commented on #264
@Altamashk7 college?

[2020-10-09 06:02] jubi020 commented on #263
I would like to work on this . kindly assign it to me.

[2020-10-09 06:02] akshita2903 commented on #264
I wanna do this. Can you assign me?
College :HBTU, KANPUR

[2020-10-09 06:02] ravi7799 commented on #264
Bundelkhand institute of Engineering and Technology, Jhansi

[2020-10-09 06:03] swapnil-tiwari commented on #262
Hi, I would like to do this
NIET

[2020-10-09 06:05] rohanmahto592 commented on #263
please assign it to me

[2020-10-09 06:07] ritish1912 commented on #263
Please assign this to me. i am willing to do this problem.
College - GCET , Greater Noida

[2020-10-09 06:07] upendra2001 commented on #263
Hello Sir,
I am willing to work on this issue.
Please assign this issue to me.
College: HBTU Kanpur

[2020-10-09 06:08] Anshul1507 commented on #267
Can you please assign me this?

[2020-10-09 06:26] Altamashk7 commented on #263
add my pr

[2020-10-09 06:27] Altamashk7 commented on #264
add my pr

[2020-10-09 06:40] Raven49 commented on #264
kindly assign this issue to me .
college : HBTU Kanpur

[2020-10-09 06:45] ya7sh commented on #265
Please assign this to me.
College--Ajay kumar garg

[2020-10-09 06:55] gmegha12 commented on #265
Please assign it to me.
College- poornima college of engineering

[2020-10-09 06:57] srai0109 commented on #263
Please assign this to me . College: HBTU Kanpur

[2020-10-09 07:20] amity-ak97 commented on #265
Please assign this to me as well.
College- CV Raman Global University

[2020-10-09 07:39] chetangawai commented on #267
@vibrantachintya Can you assign me this issue?

[2020-10-09 08:02] Ayazzia01 commented on #264
Assign this to me plz

[2020-10-09 08:08] ekanshverma5 commented on #264
Kindly assign this to me!
College HBTU kanpur.

[2020-10-09 08:20] ravigupta8006 commented on #263
Sir, can you please assign this issue to me.
college- CV Raman Global University

[2020-10-09 08:26] ravigupta8006 commented on #265
Sir, can you please assign this issue to me.
college - CV Raman Global University

[2020-10-09 09:41] Yashika25 commented on #262
Please assign this issue to me.

[2020-10-09 10:26] krooksgeek commented on #262
can you assign me this task?
ITNU

[2020-10-09 11:09] Ayazzia01 commented on #264
#317

[2020-10-09 11:10] SpiderMath commented on #267
Can you please assign me to this Issue Sir?

[2020-10-09 11:16] SpiderMath commented on #263
Sir, can you please assign this issue to me?

[2020-10-09 11:26] vibrantachintya commented on #262
Done..

We are creating a community of open source enthusiasts, we will be making top FOSSs in future, funded by Twowaits Technologies, if you wish to learn be part join our Telegram Channel here.

[2020-10-09 13:07] Alisha-Ahmed commented on #265
Could you please assign this tp me.
College : Nitte Meenakshi institute of Technology

[2020-10-10 01:53] siraiwaqarali commented on #264
Can you assign me this ?

[2020-10-10 05:30] #262 closed

[2020-10-10 05:35] #267 closed

[2020-10-10 05:36] #265 closed

[2020-10-10 05:36] #264 closed

[2020-10-10 05:36] #263 closed

[2020-10-10 05:38] vibrantachintya opened #340 "10th Oct : Design a HTML File with following functionality"
Add a new file named - '10thOct.html' in HTML CSS folder.

**"Workshop Page"**

Create below displayed design :

![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/10thOct-image1.png)
![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Images/10thOct-image2.png)
![Image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/Im

[2020-10-10 05:43] vibrantachintya opened #341 "10th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '10thOct.js' in JavaScript folder.

**"Reverse String"**, Add following functionalities to it :

- You are given a String, you need to print the reverse of it.
- Print the string on the basis of sample I/O provided below.

Sample Input :
achintya
samarth

Sample Output :
aytnicha
htramas

We will assign issues after reviewing your profile, not like if you comment first you w

[2020-10-10 05:44] vibrantachintya opened #342 "10th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '10thOct.java' in JAVA folder.

**"Reverse String"**, Add following functionalities to it :

- You are given a String, you need to print the reverse of it.
- Print the string on the basis of sample I/O provided below.

Sample Input :
achintya
samarth

Sample Output :
aytnicha
htramas

We will assign issues after reviewing your profile, not like if you comment first you will

[2020-10-10 05:45] swapnil-tiwari commented on #341
I would like to do it

[2020-10-10 05:45] vibrantachintya opened #343 "10th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '10thOct.cpp' in C++ folder.

**"Reverse String"**, Add following functionalities to it :

- You are given a String, you need to print the reverse of it.
- Print the string on the basis of sample I/O provided below.

Sample Input :
achintya
samarth

Sample Output :
aytnicha
htramas

We will assign issues after reviewing your profile, not like if you comment first you will ge

[2020-10-10 05:47] vibrantachintya opened #344 "10th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '10thOct.py' in Python folder.

**"Reverse String"**, Add following functionalities to it :

- You are given a String, you need to print the reverse of it.
- Print the string on the basis of sample I/O provided below.

Sample Input :
achintya
samarth

Sample Output :
aytnicha
htramas

We will assign issues after reviewing your profile, not like if you comment first you will

[2020-10-10 05:49] kartikeyaGUPTA45 commented on #343
@vibrantachintya  sir, please assign me this Problem

[2020-10-10 05:52] Harshit1487 commented on #344
Please assign to me.
College: Krishna Institute of Engineering and Technology.

[2020-10-10 05:53] ekanshverma5 commented on #342
Can you please assign it to me?

[2020-10-10 05:57] Priyanshuparihar commented on #344
Plz assign me this problem

[2020-10-10 06:01] Sumit-Puri commented on #343
Assign it to me please.

[2020-10-10 06:04] vibrantachintya commented on #342
I can. I surely can. So don't ask Can I.

Either ask Will you or kindly assign.

[2020-10-10 06:06] ekanshverma5 commented on #342
Will you please assign it to me?
College:HBTU KANPUR

[2020-10-10 06:06] Aditya489 commented on #344
I would like to get assigned

[2020-10-10 06:08] vibrantachintya commented on #342
Good

No, I will not

[2020-10-10 06:17] vmarpadge commented on #344
Hi
I would like to contribute to this.

[2020-10-10 06:32] Raven49 commented on #344
Please assign this question to me .
College : Harcourt Butler Technological University

[2020-10-10 06:34] upendra2001 commented on #343
Sir,
Please assign this issue to me
College: HBTU KANPUR

[2020-10-10 06:48] gmegha12 commented on #344
Please assign this to me.
College- poornima college of engineering

[2020-10-10 06:49] bhed01 commented on #340
I would like to do this, please assign it to me.

[2020-10-10 07:22] rohanmahto592 commented on #344
please assign it to me

[2020-10-10 07:25] ritish1912 commented on #344
I am willing to contribute by doing this problem.
Please assign this to me
College - GCET , Greater Noida

[2020-10-10 07:32] SiddhantKaura commented on #343
Sir,
Please assign this issue to me
College: Delhi Technological University

[2020-10-10 07:41] ravigupta8006 commented on #343
Sir, can you please assign this issue to me
college-CV Raman Global University

[2020-10-10 07:42] ravigupta8006 commented on #344
Sir , can you please assign this issue to me.
College - CV Raman Global University

[2020-10-10 07:49] Mathur777 commented on #342
kindly assign me for this.
Annamalai University

[2020-10-10 07:50] Yashika25 commented on #340
I can try this but will need some extra time, please?

[2020-10-10 07:51] Yashika25 commented on #343
Please assign this issue to me.

[2020-10-10 08:48] ritish1912 commented on #343
I am willing to contribute by doing this problem.
Please assign this to me
College - GCET , Greater Noida

[2020-10-10 09:58] siraiwaqarali commented on #344
Assign me this

[2020-10-10 09:59] siraiwaqarali commented on #342
Assign me this

[2020-10-10 10:31] amity-ak97 commented on #344
Please assign this to me as well.
College- CV Raman Global University

[2020-10-10 10:57] gmegha12 commented on #344
Why nobody is assigning this task to anyone?

[2020-10-10 11:06] siraiwaqarali commented on #341
Assign this task to me

[2020-10-10 12:52] shahzaibahmad3 commented on #344
JSSATE NOIDA
please assign this to me.

[2020-10-10 12:53] shobhit162 commented on #343
I want to contribute in this ,please assign this to me.
College- HCST, Mathura

[2020-10-10 12:53] shahzaibahmad3 commented on #342
JSSATE NOIDA
please assign this to me

[2020-10-10 15:36] code-netizen commented on #343
collage IIT Guwahati

[2020-10-10 17:27] Yashika25 commented on #340
@vibrantachintya Please assign this issue to me, I can complete it by 11:00 am tomorrow.

[2020-10-10 17:45] CostGranda commented on #344
Are you using Hacktoberfest to make an contest? what is important the college? what is this?
Just keep going guys.

[2020-10-10 18:34] vibrantachintya commented on #340
Hacktoberfest wants you to make a fruitful contribution, this can be a mini project. We can make it as a separate repo as well.

That will increase your chances of winning. If you guys are up for it comment here. @bhed01 @Yashika25

[2020-10-10 18:40] Yashika25 commented on #340
That will be great, I'm up for it @vibrantachintya. I'm almost done with the task, if anything else needs to be done I can work on that.
![Landing Page](https://user-images.githubusercontent.com/39722898/95662604-b44cf480-0b55-11eb-96ec-8da8fc0a5781.png)

![Second Page](https://user-images.githubusercontent.com/39722898/95662609-bdd65c80-0b55-11eb-98e9-7c32e713f5cd.png)

![Mentors Page](https://us

[2020-10-10 19:06] bhed01 commented on #340
@vibrantachintya Yes I'm ready for it.

[2020-10-10 19:38] vibrantachintya commented on #340
Great. I will setup a new repo tomorrow and discuss the features that we can add to it.

[2020-10-10 19:40] bhed01 commented on #340
Okay

[2020-10-11 03:32] Yashika25 commented on #340
Okay 👌

[2020-10-11 06:25] vibrantachintya opened #380 "11th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '11thOct.py' in Python folder.

**"Fibonacci Series"**, originally invented by Pingala, Indian mathematician which Fibonacci only translation, read more about this revelation by True Indology [here](https://indianlibertyreport.com/true-indology-on-the-indian-origins-of-the-fibonacci-sequence/).

Add following functionalities to it :

- Take an input n, or parameter to the fu

[2020-10-11 06:26] vibrantachintya opened #381 "11th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '11thOct.java' in JAVA folder.

**"Fibonacci Series"**, originally invented by Pingala, Indian mathematician which Fibonacci only translation, read more about this revelation by True Indology [here](https://indianlibertyreport.com/true-indology-on-the-indian-origins-of-the-fibonacci-sequence/).

Add following functionalities to it :

- Take an input n, or parameter to the fu

[2020-10-11 06:26] JaySharma11 commented on #340
I can do this please assign it to me

[2020-10-11 06:26] vibrantachintya opened #382 "11th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '11thOct.js' in JavaScript folder.

**"Fibonacci Series"**, originally invented by Pingala, Indian mathematician which Fibonacci only translation, read more about this revelation by True Indology [here](https://indianlibertyreport.com/true-indology-on-the-indian-origins-of-the-fibonacci-sequence/).

Add following functionalities to it :

- Take an input n, or parameter to th

[2020-10-11 06:27] vibrantachintya opened #383 "11th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '11thOct.cpp' in C++ folder.

**"Fibonacci Series"**, originally invented by Pingala, Indian mathematician which Fibonacci only translation, read more about this revelation by True Indology [here](https://indianlibertyreport.com/true-indology-on-the-indian-origins-of-the-fibonacci-sequence/).

Add following functionalities to it :

- Take an input n, or parameter to the func

[2020-10-11 06:28] JaySharma11 commented on #341
I will do it assign it to me please

[2020-10-11 06:28] vibrantachintya commented on #344
We apologize for inconvenience of yesterday. We have updated today's issues. Kindly attempt those!

[2020-10-11 06:28] #344 closed

[2020-10-11 06:28] JaySharma11 commented on #383
I can do this please can you assign this to me

[2020-10-11 06:28] vibrantachintya commented on #343
We apologize for inconvenience of yesterday. We have updated today's issues. Kindly attempt those!

[2020-10-11 06:28] #343 closed

[2020-10-11 06:29] vibrantachintya commented on #341
We apologize for inconvenience of yesterday. We have updated today's issues. Kindly attempt those!

[2020-10-11 06:29] #341 closed

[2020-10-11 06:29] vibrantachintya commented on #342
We apologize for inconvenience of yesterday. We have updated today's issues. Kindly attempt those!

[2020-10-11 06:29] #342 closed

[2020-10-11 06:29] gmegha12 commented on #380
Please assign this to me
College- poornima college of engineering

[2020-10-11 06:29] vibrantachintya commented on #383
Your college?

[2020-10-11 06:32] JaySharma11 commented on #383
MIT ADT Pune

[2020-10-11 06:34] JaySharma11 commented on #383
Thanks

[2020-10-11 06:35] gmegha12 commented on #380
But the output is not a fibonacci sequence

[2020-10-11 06:36] siraiwaqarali commented on #381
Assign this to me

[2020-10-11 06:36] Sumit-Puri commented on #383
Assign this to me please.

[2020-10-11 06:37] Priyanshuparihar commented on #380
But your output is like pascal triangle

[2020-10-11 06:42] vibrantachintya commented on #380
haha lol. I got confused

[2020-10-11 06:48] JaySharma11 commented on #383
Any constraints like the input size?

[2020-10-11 06:52] Sumit-Puri commented on #383
assign me please. college-HBTU

[2020-10-11 07:03] SiddhantKaura commented on #383
Sir Assign this to me please...
College - DTU

[2020-10-11 07:06] Sumit-Puri commented on #383
@vibrantachintya please check my PR.

[2020-10-11 07:08] Harshit1487 commented on #383
Please assign this issue to me.
College: Krishna Institute of Engineering and Technology.

[2020-10-11 07:09] gmegha12 commented on #380
So what to do now?

[2020-10-11 07:10] ekanshverma5 commented on #381
Kindly assign this to me.
College:HBTU kanpur.

[2020-10-11 07:16] ZarghamDanial commented on #382
Hey, can i take up this task?

[2020-10-11 07:17] JaySharma11 commented on #382
@ZarghamDanial  please add your college name as @vibrantachintya will ask for it

[2020-10-11 07:18] JaySharma11 commented on #382
I also can do this

[2020-10-11 07:19] ZarghamDanial commented on #382
Hi, @vibrantachintya , I am a professional working with Ola, passed out of Jadavpur University in 2019

[2020-10-11 07:34] akshita2903 commented on #381
Kindly assign this to me, Sir
College :HBTU, Kanpur

[2020-10-11 07:37] shobhit162 commented on #383
Please assign this to me.
College- HCST, Mathura

[2020-10-11 07:37] Yashika25 commented on #383
Please assign this issue to me.

[2020-10-11 07:44] deepharshsri commented on #382
Hey, can I work on this?
Collage Galgotias University

[2020-10-11 07:50] amity-ak97 commented on #380
Assign this task to me as well. Thank you in advance.

[2020-10-11 07:51] Harshit1487 commented on #383
Please assign this issue to me.
College: Krishna Institute of Engineering and Technology.

[2020-10-11 07:57] Harshit1487 commented on #380
Please assign this issue to me.
College: Krishna Institute of Engineering and Technology.

[2020-10-11 08:07] ritish1912 commented on #383
Please assign this to me . I am willing to contribute.
College -  GCET ,  Greater Noida

[2020-10-11 08:11] ritish1912 commented on #383
I do have a doubt i.e my Fibonacci series should be starting from 0 or 1 ?

[2020-10-11 08:16] arieftb commented on #381
Hi, May I work on this issue?

[2020-10-11 09:19] Raven49 commented on #381
Please assign this to me.
College : HBTU Kanpur

[2020-10-11 09:20] Raven49 commented on #380
please assign this to me
College : HBTU Kanpur

[2020-10-11 09:51] jubi020 commented on #383
Please assign this to me .
college - HBTU ,Kanpur

[2020-10-11 13:19] vibrantachintya commented on #340
Check this one https://github.com/twowaits/tathastu-web/issues/1

@bhed01 @Yashika25

[2020-10-11 14:26] Aditya489 commented on #380
Please assign me this task!

[2020-10-11 17:18] itayz1230 commented on #380
Please assign it to me... It is my first contribution...
Plus- another general question if you don't mind- Do I have to be assigned to an issue before I start working on it?
Thanks!

[2020-10-12 06:44] ravigupta8006 commented on #383
Sir , can you assign this task to me.
college - CV Raman Global University

[2020-10-12 06:54] vibrantachintya opened #413 "12th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '12thOct.js' in JavaScript folder.

**"Sorting an Array "**, Add following functionalities to it :

- Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.
- You have to do it in only 1 pass, you cannot use additional space (like array) and you can't use

[2020-10-12 06:55] vibrantachintya opened #414 "12th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '12thOct.py' in Python folder.

**"Sorting an Array "**, Add following functionalities to it :

- Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.
- You have to do it in only 1 pass, you cannot use additional space (like array) and you can't use sort

[2020-10-12 06:56] vibrantachintya opened #416 "12th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '12thOct.java' in JAVA folder.

**"Sorting an Array "**, Add following functionalities to it :

- Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.
- You have to do it in only 1 pass, you cannot use additional space (like array) and you can't use sort

[2020-10-12 06:57] vibrantachintya opened #417 "12th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '12thOct.cpp' in C++ folder.

**"Sorting an Array "**, Add following functionalities to it :

- Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.
- You have to do it in only 1 pass, you cannot use additional space (like array) and you can't use sortin

[2020-10-12 06:58] #383 closed

[2020-10-12 06:58] #382 closed

[2020-10-12 06:58] #381 closed

[2020-10-12 06:58] #380 closed

[2020-10-12 07:06] gmegha12 commented on #414
Please assign it to me.
College- poornima college of engineering

[2020-10-12 07:10] JaySharma11 commented on #417
Please allow me to do this

[2020-10-12 07:10] Sumit-Puri commented on #417
Assign it to me please.

[2020-10-12 07:12] JaySharma11 commented on #413
Please assign this to me.
College=MIT ADT Pune

[2020-10-12 07:14] ravigupta8006 commented on #417
sir , can you assign this task to me .
college -CV Raman Global University

[2020-10-12 07:15] Aditya489 commented on #414
Please assign me!

[2020-10-12 07:20] vibrantachintya commented on #414
We assign you everyday, you never submit  @Aditya489

[2020-10-12 07:22] Aditya489 commented on #414
Please kindly check only once I was not able to submit !

[2020-10-12 07:26] anandmohan23 commented on #414
please assign me
ABES  Institute of Technology

[2020-10-12 07:26] anandmohan23 commented on #413
please assign me
ABES Institute of Technology

[2020-10-12 07:35] Sumit-Puri commented on #417
@vibrantachintya Please check my PR.

[2020-10-12 07:36] Apoorv-cloud commented on #414
Hlo.
Please assign this task to me.
College: Ajay Kumar Garg Engineering College

[2020-10-12 07:40] Raven49 commented on #416
please assign this problem to me.
College : HBTU Kanpur

[2020-10-12 08:32] CodeBlooded-RahulMaurya commented on #417
Sir, Please assign it to me
college : SRMCEM

[2020-10-12 08:33] VishwanathSPatil commented on #414
how to submit

[2020-10-12 08:36] Ayazzia01 commented on #416
What does 'in one pass' mean?

[2020-10-12 08:37] prasantbajpai007 commented on #416
i am from REC bijnor,plz assign this problem to me

[2020-10-12 08:42] deepsjuneja commented on #416
Please assign this problem to me sir!
I'm from HBTU, Kanpur.

[2020-10-12 08:47] deepsjuneja commented on #414
Kindly assign this problem to me sir!
I'm from HBTU, Kanpur.

[2020-10-12 09:02] ekanshverma5 commented on #416
Kindly assign this to me.
College: HBTU Kanpur

[2020-10-12 09:38] upendra2001 commented on #417
Sir,
Please assign this issue to me
College : HBTU KANPUR

[2020-10-12 10:17] Isha2208 commented on #417
Sir, please assign this issue to me.
College IIIT Lucknow.

[2020-10-12 10:18] Isha2208 commented on #414
Sir, please assign the issue to me.
College: IIIT lucknow

[2020-10-12 10:28] atmanad commented on #413
Hey! I want to work on this.
C V Raman Global University

[2020-10-12 10:37] JaySharma11 commented on #417
@vibrantachintya Please review my PR

[2020-10-12 10:39] kajulsharma1999 commented on #417
Sir, please assign this issue to me.
College- HBTU kanpur

[2020-10-12 11:04] JaySharma11 commented on #416
Please assign this to me
College: MIT ADT Pune

[2020-10-12 11:37] shobhit162 commented on #417
Please assign this to me
College - HCST, Mathura

[2020-10-12 13:50] atmanad commented on #417
I solved this in Js, want to do this in C++. Please assign me.

[2020-10-12 14:49] chetangawai commented on #413
@vibrantachintya Please assign me this issue.

[2020-10-12 15:23] gujralsanyam22 commented on #416
assign to me

[2020-10-12 15:36] gmohit688 commented on #416
kindly assign this to me
from GCET

[2020-10-12 17:45] gujralsanyam22 commented on #416
How should I write the code please tell me

On Mon, Oct 12, 2020, 9:57 PM Achintya Gaumat <notifications@github.com>
wrote:

[2020-10-12 17:45] gujralsanyam22 commented on #416
On where did I write a code

On Mon, Oct 12, 2020, 11:15 PM Sanyam Gujral <rajugujral69e@gmail.com>
wrote:

[2020-10-12 18:55] gmohit688 commented on #416
You can watch this for help:
https://www.youtube.com/watch?v=e3bjQX9jIBk&feature=youtu.be

On Mon, 12 Oct 2020 at 23:15, Sanyam gujral <notifications@github.com>
wrote:

[2020-10-12 20:32] anshika2609 commented on #417
please assign this to me.
College - HCST, Mathura

[2020-10-13 06:00] prabhat34 commented on #417
please assign this to me.

[2020-10-13 06:07] prabhat34 commented on #417
prabhat kumar singh
college:GLA UNIVERSITY,MATHURA

[2020-10-13 06:39] vibrantachintya opened #457 "13th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '13thOct.cpp' in C++ folder.

**"Print a Spiral Matrix"**, Add following functionalities to it :

- Input the number n from user/function call.
- Create a matrix of n x n and elements in an spiral order.

Sample Input :
3

4

Sample Output :
[[ 1, 2, 3 ],
 [ 8, 9, 4 ],
 [ 7, 6, 5 ]]

[[1, 2, 3, 4],
 [12, 13, 14, 5],
 [11, 16, 15, 6],
 [10, 9, 8, 7]]

We will assign issues af

[2020-10-13 06:40] #417 closed

[2020-10-13 06:42] vibrantachintya opened #458 "13th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '13thOct.java' in JAVA folder.

**"Print a Spiral Matrix"**, Add following functionalities to it :

- Input the number n from user/function call.
- Create a matrix of n x n and elements in an spiral order.

Sample Input :
3

4

Sample Output :
[[ 1, 2, 3 ],
 [ 8, 9, 4 ],
 [ 7, 6, 5 ]]

[[1, 2, 3, 4],
 [12, 13, 14, 5],
 [11, 16, 15, 6],
 [10, 9, 8, 7]]

We will assign issues

[2020-10-13 06:43] vibrantachintya opened #459 "13th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '13thOct.js' in JavaScript folder.

**"Print a Spiral Matrix"**, Add following functionalities to it :

- Input the number n from user/function call.
- Create a matrix of n x n and elements in an spiral order.

Sample Input :
3

4

Sample Output :
[[ 1, 2, 3 ],
 [ 8, 9, 4 ],
 [ 7, 6, 5 ]]

[[1, 2, 3, 4],
 [12, 13, 14, 5],
 [11, 16, 15, 6],
 [10, 9, 8, 7]]

We will assign iss

[2020-10-13 06:44] vibrantachintya opened #460 "13th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '13thOct.py' in Python folder.

**"Print a Spiral Matrix"**, Add following functionalities to it :

- Input the number n from user/function call.
- Create a matrix of n x n and elements in an spiral order.

Sample Input :
3

4

Sample Output :
[[ 1, 2, 3 ],
 [ 8, 9, 4 ],
 [ 7, 6, 5 ]]

[[1, 2, 3, 4],
 [12, 13, 14, 5],
 [11, 16, 15, 6],
 [10, 9, 8, 7]]

We will assign issues

[2020-10-13 06:44] #416 closed

[2020-10-13 06:44] Satyam-kumar-yadav commented on #457
I can do it.
College Name - IIT BHU

[2020-10-13 06:45] #414 closed

[2020-10-13 06:45] #413 closed

[2020-10-13 06:47] Priyanshuparihar commented on #460
@vibrantachintya  can u assign me this

[2020-10-13 06:48] gmegha12 commented on #460
Please assign it to me

[2020-10-13 06:51] vibrantachintya commented on #460
Do share this repo with your friends!

[2020-10-13 07:10] JaySharma11 commented on #457
Please assign this to me.
College Name - MIT ADT

[2020-10-13 07:28] Shruti700 commented on #458
Please assign this to me.
Harcourt Butler Technical University

[2020-10-13 07:35] deepsjuneja commented on #458
Please assign this problem to me sir!
I'm from HBTU, Kanpur.

[2020-10-13 07:41] Isha2208 commented on #457
Please assign this to me
College - IIIT Lucknow

[2020-10-13 07:54] xxx32 commented on #458
can I work on this ?
I'm from IIIT Allahabad

[2020-10-13 08:16] deepsjuneja commented on #460
Kindly assign this problem to me sir!

[2020-10-13 08:25] Raven49 commented on #458
Please assign this issue to me .
College : HBTU Kanpur

[2020-10-13 09:07] ekanshverma5 commented on #458
Kindly assign this to me.
College: Hbtu Kanpur

[2020-10-13 10:52] upendra2001 commented on #457
Sir,
Please assign this issue to me
College: HBTU KANPUR

[2020-10-13 11:26] Harshit1487 commented on #457
Please assign this issue to me.
College: Krishna Institute of Engineering and Technology.

[2020-10-13 12:01] shobhit162 commented on #457
Please assign this to me.
College - HCST, Mathura

[2020-10-13 12:51] Satyam-kumar-yadav commented on #459
I can do this.
I am from IIT BHU

[2020-10-13 14:23] stuti-ui commented on #459
@vibrantachintya Can you assign this to me .
I am from HBTU

[2020-10-13 16:40] Sowmya7501 commented on #460
Can you please assign this to me!
college-PES University

[2020-10-13 17:30] deepharshsri commented on #459
Hey, can you assign me to this?
Collage: Galgotias University

[2020-10-13 17:35] yashbansal130 commented on #458
please assign this to me.
IIT BHU, Varanasi

[2020-10-13 18:49] deepharshsri commented on #459
13thOct-5.js will be Ok

On Tue, Oct 13, 2020 at 11:07 PM Achintya Gaumat <notifications@github.com>
wrote:

[2020-10-13 19:02] Sanyam2000-dot commented on #460
Hey @vibrantachintya , i want to work on this issue using python library NumPy!
College : UPES

[2020-10-14 07:21] yashbansal130 commented on #44
please assign this to me.
college- IIT BHU

[2020-10-14 07:34] deepharshsri commented on #459
hey, Please tell me what I expect to write the file name like 13thOct.js is
already submitted by somebody I think so ?

On Wed, Oct 14, 2020 at 12:19 AM deepharsh sri <deepharshsri.98@gmail.com>
wrote:

[2020-10-14 07:57] vibrantachintya opened #481 "14th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '14thOct.py' in Python folder.

**"Maximum Consecutive Gap"**, Add following functionalities to it :

- Given an unsorted array, find the maximum difference between the successive elements in its sorted form.
- Take default array as mentioned in input below, no need to take input.
- Solve in linear time, all numbers are non negative,

Sample Input :
[1, 7, 0, 9, 12]
[9, 7, 0

[2020-10-14 07:57] #460 closed

[2020-10-14 08:00] vibrantachintya opened #482 "14th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '14thOct.js' in JavaScript folder.

**"Maximum Consecutive Gap"**, Add following functionalities to it :

- Given an unsorted array, find the maximum difference between the successive elements in its sorted form.
- Take default array as mentioned in input below, no need to take input.
- Solve in linear time, all numbers are non negative,

Sample Input :
[1, 7, 0, 9, 12]
[9,

[2020-10-14 08:00] #459 closed

[2020-10-14 08:01] #458 closed

[2020-10-14 08:01] vibrantachintya opened #483 "14th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '14thOct.py' in JAVA folder.

**"Maximum Consecutive Gap"**, Add following functionalities to it :

- Given an unsorted array, find the maximum difference between the successive elements in its sorted form.
- Take default array as mentioned in input below, no need to take input.
- Solve in linear time, all numbers are non negative,

Sample Input :
[1, 7, 0, 9, 12]
[9, 7, 0,

[2020-10-14 08:02] #457 closed

[2020-10-14 08:02] vibrantachintya opened #484 "14th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '14thOct.cpp' in C++ folder.

**"Maximum Consecutive Gap"**, Add following functionalities to it :

- Given an unsorted array, find the maximum difference between the successive elements in its sorted form.
- Take default array as mentioned in input below, no need to take input.
- Solve in linear time, all numbers are non negative,

Sample Input :
[1, 7, 0, 9, 12]
[9, 7, 0,

[2020-10-14 08:18] Sumit-Puri commented on #484
Assign it to me.

[2020-10-14 08:20] Sumit-Puri commented on #484
Assign this to me please. HBTU kanpur

[2020-10-14 08:23] Satyam-kumar-yadav commented on #483
i can do it .
College - IIT BHU

[2020-10-14 08:27] ekanshverma5 commented on #483
Kindly assign this to me.
College: Hbtu kanpur

[2020-10-14 08:30] Sumit-Puri commented on #484
Sir first input's answer should he 5

[2020-10-14 08:41] Sumit-Puri commented on #484
please check my PR Sir

[2020-10-14 08:41] Sumit-Puri commented on #484
please check my PR Sir

[2020-10-14 08:50] ravi7799 commented on #483
I Can do it
College- BIET, Jhansi

[2020-10-14 08:56] Shruti700 commented on #483
Please assign this problem to me
I am from Hbtu, Kanpur.

[2020-10-14 09:01] akshita2903 commented on #483
Will you please assign this to me?
College :HBTU, KANPUR

[2020-10-14 09:02] vibrantachintya commented on #483
Make sure you do in O(n) time complexity!

[2020-10-14 09:15] Sanyam2000-dot commented on #481
Hey @vibrantachintya , I would like to work on this issue :)

[2020-10-14 09:23] Satyam-kumar-yadav commented on #482
i can do it

[2020-10-14 09:31] Manoj-Khatri commented on #484
Sir, I have already solved and saved it in my drive. Please assign me to do this because this is going to be first project after knowing about Hacktober fest. I am from Nepal ( Pulchowk Engineering College)

[2020-10-14 09:32] vibrantachintya commented on #484
Good @Manoj-Khatri do join our telegram channel. http://bit.ly/TwowaitsTelegram

[2020-10-14 09:37] Manoj-Khatri commented on #484
I am here from your youtube chanel and already joined telegram group to @vibrantachintya Sir

[2020-10-14 09:40] Isha2208 commented on #484
Sir, please assign the issue to me.
College: IIIT LUCKNOW

[2020-10-14 09:57] vibrantachintya commented on #481
Guys don't copy and past code from GFG.

Also don't try to be too smart by changing just variable names!

This is first and last warning, if I find someone doing plagiarism we will mark you spam and you will get disqualified from Hacktoberfest.

[2020-10-14 09:57] vibrantachintya commented on #484
Guys don't copy and past code from GFG.

Also don't try to be too smart by changing just variable names!

This is first and last warning, if I find someone doing plagiarism we will mark you spam and you will get disqualified from Hacktoberfest.

[2020-10-14 09:57] vibrantachintya commented on #483
Guys don't copy and past code from GFG.

Also don't try to be too smart by changing just variable names!

This is first and last warning, if I find someone doing plagiarism we will mark you spam and you will get disqualified from Hacktoberfest.

[2020-10-14 10:48] saurabh-172 commented on #482
hi, @vibrantachintya I'm new to open source contribution and this is my 1st hacktoberfest. I would like to work on this.
Also, I had a doubt that can we work on 2 or more issues like this javascript and python?

[2020-10-14 11:20] amity-ak97 commented on #481
Hey, I would also like to work on this. Please assign this to me as well.

[2020-10-14 11:23] saurabhhere commented on #482
Can you assign it to me? @vibrantachintya
College: IIT Roorkee

[2020-10-14 11:42] yashbansal130 commented on #483
sir can I do it.
IIT BHU

[2020-10-14 11:43] yashbansal130 commented on #483
please assign this to me.
IIT BHU

[2020-10-14 11:46] yashbansal130 commented on #482
sir please assign this to me.
IIT BHU

[2020-10-14 11:56] Raven49 commented on #483
Please assign this to me .
College : HBTU KANPUR

[2020-10-14 13:22] sawarn044 commented on #484
Sir,Please assign this issue to me

[2020-10-14 15:07] vibrantachintya commented on #482
Yes @saurabh-172

[2020-10-14 21:53] jainsarthak216 commented on #484
Assign me for C.

[2020-10-14 21:54] jainsarthak216 commented on #481
Assign me.

[2020-10-15 06:41] Alisha-Ahmed commented on #484
Could you please assign this to me ?
College : Nitte Meenakshi Institute of Technology

[2020-10-15 09:16] saurabh-172 commented on #482
@vibrantachintya I was thinking how can sorting be O(n) then I searched and read that using some sorting algorithms and for some upper bound on numbers time complexity very near to O(n) can be achieved and in **Radix sort** if we consider the base of numbers to be n itself then it becomes linear time. just give me some hint that I'm thinking and reading in the correct direction so that this time I

[2020-10-16 03:45] yashbansal130 commented on #44
@vibrantachintya sir can I work on this issue?

[2020-10-16 06:09] Alisha-Ahmed commented on #483
Could you please assign this to me ?
College : NMIT,Banglore

[2020-10-16 07:01] ravigupta8006 commented on #484
Sir , can please you assign this task to me.
college - CV Raman Global University

[2020-10-16 12:47] Dhananjay1999singh commented on #484
Sir assign this to me
ABESIT

[2020-10-17 07:49] sumitaccess007 commented on #483
Hi @vibrantachintya
Please assign this issue to me, I will contribute with a good documentataion .

[2020-10-17 18:03] darshikasingh commented on #484
can you please assign this task to me sir

[2020-10-19 04:40] madhhuurrii commented on #481
@vibrantachintya please assign me this issue

[2020-10-19 10:01] vibrantachintya opened #529 "19th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '19thOct.cpp' in C++ folder.

**"Search a 2D Matrix"**.

Write an efficient algorithm that searches for a value in an m x n matrix. This matrix has the following properties:

- Integers in each row are sorted in ascending from left to right.
- Integers in each column are sorted in ascending from top to bottom.
- You can take matrix and number as parameters to function.

![](

[2020-10-19 10:03] vibrantachintya opened #530 "19th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '19thOct.java' in JAVA folder.

**"Search a 2D Matrix"**.

Write an efficient algorithm that searches for a value in an m x n matrix. This matrix has the following properties:

- Integers in each row are sorted in ascending from left to right.
- Integers in each column are sorted in ascending from top to bottom.
- You can take matrix and number as parameters to function.

![

[2020-10-19 10:03] vibrantachintya opened #531 "19th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '19thOct.py' in Python folder.

**"Search a 2D Matrix"**.

Write an efficient algorithm that searches for a value in an m x n matrix. This matrix has the following properties:

- Integers in each row are sorted in ascending from left to right.
- Integers in each column are sorted in ascending from top to bottom.
- You can take matrix and number as parameters to function.

![

[2020-10-19 10:04] vibrantachintya commented on #484
Issues has been updated, if you wish to contribute check here https://github.com/twowaits/make-pull-request/issues

Closing this one!

[2020-10-19 10:04] #484 closed

[2020-10-19 10:04] vibrantachintya commented on #483
Issues has been updated, if you wish to contribute check here https://github.com/twowaits/make-pull-request/issues

Closing this one!

[2020-10-19 10:04] #483 closed

[2020-10-19 10:04] vibrantachintya commented on #482
Issues has been updated, if you wish to contribute check here https://github.com/twowaits/make-pull-request/issues

Closing this one!

[2020-10-19 10:04] #482 closed

[2020-10-19 10:05] vibrantachintya commented on #481
Issues has been updated, if you wish to contribute check here https://github.com/twowaits/make-pull-request/issues

Closing this one!

[2020-10-19 10:05] #481 closed

[2020-10-19 10:08] vibrantachintya opened #532 "19th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '19thOct.js' in JavaScript folder.

**"Search a 2D Matrix"**.

Write an efficient algorithm that searches for a value in an m x n matrix. This matrix has the following properties:

- Integers in each row are sorted in ascending from left to right.
- Integers in each column are sorted in ascending from top to bottom.
- You can take matrix and number as parameters to function.

[2020-10-19 10:39] #44 closed

[2020-10-19 10:39] #340 closed

[2020-10-19 10:40] Sumanya312 commented on #529
please assign this issue to me sir.
College-BIET, Jhansi

[2020-10-19 10:41] Ruchi101 commented on #529
please assign this task to me.

[2020-10-19 10:41] adit19shah commented on #529
Hello, I am Adit Shah pursuing B.Tech at Dhirubhai Ambani Institute of Information and Communication Technology(DAIICT). I am interested in working on this issue.

[2020-10-19 10:48] sumitaccess007 commented on #530
Hi @vibrantachintya
I am interested to solve this problem, Please have a look onto my profile.
I am from Amity University, Computer Science.
Thanks

[2020-10-19 10:54] Satyam-kumar-yadav commented on #530
I would also like to solve this problem.
College - IIT BHU

[2020-10-19 11:18] shahzaibahmad3 commented on #530
I'll do sir, please assign to me.
JSSATE Noida
Thankyou

[2020-10-19 11:50] Anugrahchaturvedi commented on #529
hello sir this is Anugrah , kindly assign this issue to me .
college - BBDNITM lucknow

[2020-10-19 12:01] ujjawaltmh commented on #530
hi @vibrantachintya sir, I would like to solve this problem.
College - GNIOT, Greater Noida

[2020-10-19 12:13] amity-ak97 commented on #531
Hi, I would like to work on this. Please assign this to me.

[2020-10-19 12:28] Yash7818 commented on #532
may i work on this
I'm Yash, studying in **Indian Institute Of Technology , Surat**

[2020-10-19 12:30] Yash7818 commented on #532
may i work on this
I'm Yash,studying in **Indian Institute Of Information Technology,Surat**

[2020-10-19 12:34] Raven49 commented on #530
Please assign it to me
College -HBTU Kanpur

[2020-10-19 15:01] ParthCheulkar commented on #530
Hi @vibrantachintya  ,
I am from Thadomal Shahani Engineering College, Mumbai and i would love to solve this issue.

[2020-10-19 15:07] nakanaori commented on #532
Is it okay for me to work on this?
I'm Varianto, studying in Bina Nusantara University, Indonesia

[2020-10-19 16:18] Rishabrp99 commented on #531
hey @vibrantachintya ,I  would love to work on this.

[2020-10-19 17:36] sumitaccess007 commented on #530
Hi @vibrantachintya

Thanks for giving opportunity to work on this problem.

I have implemented the solution to this and submitted a pull request, Thanks to review and let me know if any improvements are required or not.

Thanks again.

[2020-10-19 17:59] kislay960 commented on #531
hi @vibrantachintya I would like to work on this.

[2020-10-19 18:11] Suhas1998 commented on #532
Hello! I'm Suhas, studying in IIT Guwahati. Can I still work on this issue?

[2020-10-19 18:53] sawarn044 commented on #529
can you please assign this issue to me.
college- IIT Roorkee

[2020-10-20 06:11] Adithanvijayan commented on #531
@vibrantachintya I would like to work on this

[2020-10-20 06:51] LayanJay commented on #532
Hello,
I'm Layan, studying in SLIIT, Sri Lanka.
Can I work on this?

[2020-10-20 07:35] Amankazz commented on #531
I want to work on this.

[2020-10-20 07:55] Adithanvijayan commented on #531
@vibrantachintya I have created a pull request for Search a 2D matrix (19thOct.py)

[2020-10-20 08:00] SurbhiRathi23 commented on #531
sir, can I work on it
college- KIET

[2020-10-20 10:50] Suhas1998 commented on #532
Hello @vibrantachintya ... I have submitted a PR for the above program. Please review it!

[2020-10-20 11:31] PulsaraSandeepa commented on #532
Hello, I am Pulsara from University of Moratuwa Sri Lanka
May I work on this?

[2020-10-20 15:09] nakanaori commented on #529
can you assign this to me?
I'm from Bina Nusantara University, Indonesia

[2020-10-21 05:16] prinsusinghal commented on #532
Hello @vibrantachintya I want to work on this. From IIT Roorkee. Assign it to me.

[2020-10-21 05:33] prinsusinghal commented on #531
Hi @vibrantachintya I want to work on it. from IIT Roorkee

[2020-10-21 05:34] prinsusinghal commented on #529
Hi @vibrantachintya I want to work on it. From IIT Roorkee

[2020-10-21 13:17] prinsusinghal commented on #529
@vibrantachintya Review my PR: Created 19thOct-6.cpp   #558

[2020-10-22 05:10] kshsh00 commented on #532
Hello I would be honoured to work on your repository so please assign me

[2020-10-22 05:12] kshsh00 commented on #532
I am a high school student and also new to this fest so it would be a great help to me if I get this opportunity

[2020-10-22 05:28] kshsh00 commented on #531
Can I be assigned please??

[2020-10-22 07:22] vibrantachintya opened #566 "22nd Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '22ndOct.js' in JavaScript folder.

**"Permutations of a String"**.

Write an efficient algorithm that prints all possible permutations of a string. This function has the following properties:

- You can't repeat any character in a string.
- You can take string as parameter to function.

Input :
ABC
ABSG

Output :
ABC ACB BAC BCA CAB CBA
ABGS ABSG AGBS AGSB ASBG ASGB BAGS BA

[2020-10-22 07:23] vibrantachintya opened #567 "22nd Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '22ndOct.java' in JAVA folder.

**"Permutations of a String"**.

Write an efficient algorithm that prints all possible permutations of a string. This function has the following properties:

- You can't repeat any character in a string.
- You can take string as parameter to function.

Input :
ABC
ABSG

Output :
ABC ACB BAC BCA CAB CBA
ABGS ABSG AGBS AGSB ASBG ASGB BAGS BASG B

[2020-10-22 07:24] vibrantachintya opened #568 "22nd Oct : Write a function in Python to achieve below functionality"
Add a new file named - '22ndOct.py' in Python folder.

**"Permutations of a String"**.

Write an efficient algorithm that prints all possible permutations of a string. This function has the following properties:

- You can't repeat any character in a string.
- You can take string as parameter to function.

Input :
ABC
ABSG

Output :
ABC ACB BAC BCA CAB CBA
ABGS ABSG AGBS AGSB ASBG ASGB BAGS BASG B

[2020-10-22 07:25] vibrantachintya opened #569 "22nd Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '22ndOct.cpp' in C++ folder.

**"Permutations of a String"**.

Write an efficient algorithm that prints all possible permutations of a string. This function has the following properties:

- You can't repeat any character in a string.
- You can take string as parameter to function.

Input :
ABC
ABSG

Output :
ABC ACB BAC BCA CAB CBA
ABGS ABSG AGBS AGSB ASBG ASGB BAGS BASG BGA

[2020-10-22 07:59] chrisyo99 commented on #568
I would like to be added to this issue

[2020-10-22 08:34] ujjawaltmh commented on #567
hi @vibrantachintya sir, i want to solve this problem.
college:- GNIOT

[2020-10-22 08:40] #529 closed

[2020-10-22 08:40] namankaushik2 commented on #569
Hi, I would like to work on this issue,
JSS noida

[2020-10-22 08:40] #530 closed

[2020-10-22 08:40] #531 closed

[2020-10-22 08:40] #532 closed

[2020-10-22 08:44] LayanJay commented on #566
Hey, I'm Layan from Sri Lanka.
I'm studying at SLIIT in Sri Lanka.
Can I work on this?

[2020-10-22 10:18] Ocoderdude commented on #569
Hi @vibrantachintya , I would like to take up this issue

RGPV University, Bhopal

[2020-10-22 10:24] vibrantachintya commented on #569
Ok @Ocoderdude what is your college?

[2020-10-22 10:28] Ocoderdude commented on #569
TRUBA IET, Indore

[2020-10-22 10:47] Ocoderdude commented on #569
@vibrantachintya Please review & merge #580  whenever you're free

[2020-10-22 10:53] divitagulati commented on #566
Hey there,
Can you assign this work to me?
I am studying in IP University, Delhi

[2020-10-22 14:26] tanmay2601 commented on #566
Hey , I want to take this issue .
Myself Tanmay Jain
I  m studying in JSS Academy Of Technical Education , Noida.

[2020-10-22 15:34] rajeev1975 commented on #569
Hi, Can you please assign this task to me. I would like to contribute on it.
college - C.V. Raman Global university

[2020-10-22 15:57] kshsh00 commented on #568
I'd be honoured to work on this

[2020-10-22 16:46] Sumanya312 commented on #569
hello sir, please assign this issue to me.
college-BIET Jhansi

[2020-10-22 17:15] tanmay2601 commented on #569
Hey please assign this task to me..
college - JSS, noida

[2020-10-22 20:51] SaucyGames05 commented on #568
I would like to give this a go

[2020-10-23 02:47] SaucyGames05 commented on #567
I would like to try this

[2020-10-23 06:27] ParthCheulkar commented on #567
i would like to try this
college:-Thadomal Shahani Engineering College(mumbai)

[2020-10-23 06:51] parikshitsen commented on #568
@vibrantachintya can u assign me this

[2020-10-23 06:58] SurbhiRathi23 commented on #568
Sir, I would like to work on it

[2020-10-23 09:37] Ocoderdude commented on #569
Hi @vibrantachintya , Please reply here #580

[2020-10-23 09:38] Ocoderdude commented on #569
Its not merged since last 23 hours

[2020-10-23 09:41] Ocoderdude commented on #569
@hitman-samrath , This happened because of you.

Haven't you seen my PR raised before???

[2020-10-23 14:56] SaucyGames05 commented on #566
Can I work on this?

[2020-10-23 19:50] MaathavanJkr commented on #568
@vibrantachintya i wanna work on this

[2020-10-24 05:41] ParthCheulkar commented on #568
i want to work on this

[2020-10-24 13:39] Paras-Sood commented on #569
Hi, I would like to contribute to this.
College-Thapar

[2020-10-24 16:37] chayanika-01 commented on #569
Hey!
Can you please assign this to me?
I am from GGSIPU, Delhi

[2020-10-24 17:55] Paras-Sood commented on #569
I have done it and made a PR.

[2020-10-25 14:04] vriddhi1203 commented on #569
Hi, I would like to contribute to this
KIET Group of Institutions

[2020-10-26 06:50] #569 closed

[2020-10-26 06:50] #568 closed

[2020-10-26 06:51] #567 closed

[2020-10-26 06:51] #566 closed

[2020-10-27 10:29] vibrantachintya opened #610 "27th Oct : Write a function in C++ to achieve below functionality"
Add a new file named - '27thOct.cpp' in C++ folder.

**"Generate Binary Numbers"**.

Given a number n, write a function that generates and prints all binary numbers with decimal values from 1 to n.

Input: n = 2
Output: 1, 10

Input: n = 5
Output: 1, 10, 11, 100, 101

We will assign issues after reviewing your profile, not like if you comment first you will get automatically assigned. Do mention y

[2020-10-27 10:30] vibrantachintya opened #611 "27th Oct : Write a function in JAVA to achieve below functionality"
Add a new file named - '27thOct.java' in JAVA folder.

**"Generate Binary Numbers"**.

Given a number n, write a function that generates and prints all binary numbers with decimal values from 1 to n.

Input: n = 2
Output: 1, 10

Input: n = 5
Output: 1, 10, 11, 100, 101

We will assign issues after reviewing your profile, not like if you comment first you will get automatically assigned. Do mention

[2020-10-27 10:31] vibrantachintya opened #612 "27th Oct : Write a function in Python to achieve below functionality"
Add a new file named - '27thOct.py' in Python folder.

**"Generate Binary Numbers"**.

Given a number n, write a function that generates and prints all binary numbers with decimal values from 1 to n.

Input: n = 2
Output: 1, 10

Input: n = 5
Output: 1, 10, 11, 100, 101

We will assign issues after reviewing your profile, not like if you comment first you will get automatically assigned. Do mention

[2020-10-27 10:32] vibrantachintya opened #613 "27th Oct : Write a function in JavaScript to achieve below functionality"
Add a new file named - '27thOct.js' in JavaScript folder.

**"Generate Binary Numbers"**.

Given a number n, write a function that generates and prints all binary numbers with decimal values from 1 to n.

Input: n = 2
Output: 1, 10

Input: n = 5
Output: 1, 10, 11, 100, 101

We will assign issues after reviewing your profile, not like if you comment first you will get automatically assigned. Do men

[2020-10-27 10:36] Ares358 commented on #612
Hey there,
Can you assign this work to me?
I am currently studying at Gujarat Technological University, Gujarat

[2020-10-27 11:47] gitrahulgit commented on #611
Hi! I want to work on it.

[2020-10-27 12:30] verma-shivani commented on #610
please assign this to me.

[2020-10-27 15:15] amitesh03 commented on #613
Hey there,
Can you assign this work to me?
I am currently studying at National Institute of Science and Technology,Odisha.

[2020-10-27 15:18] Sumanya312 commented on #610
Please assign this issue to me sir.
College-BIET Jhansi

[2020-10-27 15:32] perlbeforeswine commented on #613
Hello! I saw this was assigned to Amitesh, but would it be possible for me to also work on this and submit 27thOct-2.js?
Thank you!

[2020-10-27 16:30] lkbhitesh07 commented on #612
Hi @vibrantachintya  will you please assign this to me.

[2020-10-27 17:17] geekyvyas commented on #610
Please assign this issue to me sir.

[2020-10-27 17:37] devanshsa5a commented on #610
Assign this to me

[2020-10-27 17:37] vaibhav1865 commented on #612
Hi @vibrantachintya will you please assign this to me.

[2020-10-27 17:54] devanshsa5a commented on #610
Please assign this to me
college - AKGEC ghaziabad

[2020-10-27 18:03] devanshsa5a commented on #612
CAN YOU PLEASE ASSIGN THIS TO ME SIR
COLLEGE : AKGEC GHAZIABAD

[2020-10-27 20:52] rachitmanas commented on #612
I would like to work on this issue.
College IIT Ropar

[2020-10-28 15:25] coder-nidhi commented on #610
Plss assign this issue to me sir. although I am a beginner but I am very curious to solve this issue.
Nidhi Verma CSE 2nd year
RR institute of modern technology

[2020-10-28 17:24] prasantbajpai007 commented on #611
hey myself prasant bajpai from rec bijnor, i want to contribute on this task

[2020-10-28 20:17] rachitmanas commented on #612
I think there is some issue with repo because some files have exact same name( ignoring case sensitivity). When I just open my clone and type git status it shows some files not staged for commit. when I try to add them it doesn't add up to staging area. I forced add but then it led to some more messing errors. Please have a look @vibrantachintya

[2020-10-29 05:50] Sushmitha004 commented on #611
Hi, I would like to work on this.

[2020-10-30 04:18] ujjawaltmh commented on #611
@vibrantachintya sir, i want to do this.
college- GNIOT

[2020-10-31 05:59] coder-nidhi commented on #484
please assign this issue to me sir. I am very excited to solve this issue.

[2020-10-31 21:56] #612 closed

[2020-10-31 21:56] #611 closed

[2020-10-31 21:56] #610 closed

[2020-11-01 15:35] Strigssson commented on #41
Hello, can I ask you to make one more issue for me ? It will be task for
mine High School subject where I need make non-trivial open-source
contribution.

Thank you.

po 5. 10. 2020 o 6:56 Achintya Gaumat <notifications@github.com> napísal(a):

[2021-09-26 11:50] vibrantachintya opened #647 "26th Sep : Write a function in JAVA to achieve below functionality"
Add a new file named - '26thSep.java' in /Java/2021/ folder.

"Generate Binary Numbers".

Given a number n, write a function that generates and prints all binary numbers with decimal values from 1 to n.

Input: n = 2
Output: 1, 10

Input: n = 5
Output: 1, 10, 11, 100, 101

We will assign issues after reviewing your profile, not like if you comment first you will get automatically assigned. Do ment

[2021-09-26 11:55] #613 closed

[2021-09-26 11:57] vibrantachintya opened #649 "26th Sep : Write a function in C++ to achieve below functionality"
Add a new file named - '26thSep.cpp' in /C++/2021/ folder.

"Generate Binary Numbers".

Given a number n, write a function that generates and prints all binary numbers with decimal values from 1 to n.

Input: n = 2
Output: 1, 10

Input: n = 5
Output: 1, 10, 11, 100, 101

We will assign issues after reviewing your profile, not like if you comment first you will get automatically assigned. Do mentio

[2021-09-26 11:57] vibrantachintya opened #650 "26th Sep : Write a function in Python to achieve below functionality"
Add a new file named - '26thSep.py' in /Python/2021/ folder.

"Generate Binary Numbers".

Given a number n, write a function that generates and prints all binary numbers with decimal values from 1 to n.

Input: n = 2
Output: 1, 10

Input: n = 5
Output: 1, 10, 11, 100, 101

We will assign issues after reviewing your profile, not like if you comment first you will get automatically assigned. Do ment

[2021-09-26 11:58] vibrantachintya opened #651 "Update the readme document"
Our current readme doc is made for Hacktoberfest 2020, kindly update it with relevant info for 2021 contest.

[2021-09-26 12:07] vibrantachintya opened #653 "26th Sep Design a HTML file with following functionality"
Add a new file named - '26thSep.html' in /HTML CSS/2021/ folder.

"COVID Tracker"

Create below displayed using :

![image](https://raw.githubusercontent.com/twowaits/make-pull-request/master/4thOct-image.png)

Take static data, try to match design as close as you can to the shown image.

Use all the CSS, JS code within same file only. Don't create any separate file for them.

If someone has alrea

[2021-09-26 12:53] vibrantachintya commented on #650
Assign this issue to me. I will fix it

[2021-09-26 13:00] vibrantachintya commented on #647
Sir please assign me this. I will fix it.

[2021-09-26 13:02] PriyaRawat18 commented on #647
sir please assign me this, I want to contribute to it.

[2021-09-26 13:02] D-Palamala-Sai-Niharika commented on #647
sir please assign me this.I can fix it

[2021-09-26 13:02] tanishabisht commented on #653
Hello Sir,
I would like to work on this issue. Could you assign this issue to me.

[2021-09-26 13:02] Meaha7 commented on #649
Please Assign this issue to me

[2021-09-26 13:03] kathan3 commented on #649
assign this issue to me

[2021-09-26 13:03] pranavagrawal321 commented on #650
Please assign me this issue.

[2021-09-26 13:03] Honey-B-263 commented on #649
Please assign this issue to me.

[2021-09-26 13:03] nikhil05-code commented on #650
Assign it to me. I will fix it.

[2021-09-26 13:03] Naman-Parashar commented on #647
Assign this issue to me.

[2021-09-26 13:03] svisen28 commented on #649
Please assign this issue to me.

[2021-09-26 13:04] suddhasattwakhan commented on #649
I am a new user and want to get the opportunity to fix the first issue.

[2021-09-26 13:04] arya177 commented on #649
Please assign this issue to me.

[2021-09-26 13:04] Atharvp18 commented on #649
Hello Sir, Please assign this issue to me.

[2021-09-26 13:04] DhruvGarg9136 commented on #649
Hello Sir, Please assign this issue to me.

[2021-09-26 13:04] kathan3 commented on #650
assign this issue to me

[2021-09-26 13:05] Nikhil3389 commented on #647
Sir, please assign me this, I can fix this issue

[2021-09-26 13:05] Shivamjha12 commented on #647
sir, please assign me this task! I can work on this

[2021-09-26 13:05] Amitlpu-840 commented on #649
hi sir, please assign this task to me. I'm very experienced in c++ and can solve this issue.

[2021-09-26 13:06] Krrishnaa25 commented on #649
Please assign this task to me.

[2021-09-26 13:06] InnocentDaksh63 commented on #653
Hey 👋 I would like to work on this issue. Can you assign me for this

[2021-09-26 13:07] MananDudhwala commented on #650
Kindly assign the above issue to me. I will fix it before EoD.

[2021-09-26 13:07] codermittal17 commented on #649
pls assign this issue to me

[2021-09-26 13:08] vibrantachintya commented on #651
Kindly assign this issue to me. My english is good, I will put my efforts and do it within deadline.

[2021-09-26 13:09] codermittal17 commented on #649
i will fix this issue by eod

[2021-09-26 13:09] varsha080 commented on #649
please assign this issue to me. I'm good in C++ and 4 star coder on hackkerank

[2021-09-26 13:10] Naman-Parashar commented on #651
Sir please assign this to me,I am good in English,I can do this.

[2021-09-26 13:11] sagar1128 commented on #649
please assign me i will fix it

[2021-09-26 13:13] Umar293 commented on #649
Hello Sir, Please assign this issue to me.

[2021-09-26 13:15] codermittal17 commented on #649
sir assign this issue to me

[2021-09-26 13:20] varsha080 commented on #651
Kindly assign me this work.

[2021-09-26 13:21] D-Palamala-Sai-Niharika commented on #649
Sir please assign this issue.I am good at c++

[2021-09-26 13:22] D-Palamala-Sai-Niharika commented on #653
Please assign this issue.I can solve this issue

[2021-09-26 13:24] Meghna0907 commented on #649
Sir please assign me this issue.

[2021-09-26 13:26] Naman-Parashar commented on #647
Sir I already Make a pull request please check it.

[2021-09-26 13:29] geetika005 commented on #649
Sir i am geetika bhatnagar from galgotia college of engineering and technology.Currently i am contributing to GWOC .
Kindly assign this issue to me.

[2021-09-26 13:29] shrey714 commented on #649
Hello Sir, Please assign this issue to me.

[2021-09-26 13:35] ShreyashVarshney commented on #653
please assign the issue to me. I would work on this issue

[2021-09-26 13:41] Harsh7Kumar commented on #647
Sir, Please assign me this task. I want to do this task. I give my best.

[2021-09-26 13:42] Bharanidharan7708 commented on #651
Hi, can you assign me this issue.

[2021-09-26 13:43] ShreyashVarshney commented on #650
sir, please assign the issue to me.
I am from GLA University

[2021-09-26 13:47] Bharanidharan7708 commented on #649
hi, can you assign this issue to me.

[2021-09-26 13:48] Atijian commented on #650
please assign this issue to me
I'm from Vit (Vellore)University

[2021-09-26 13:49] ShreyashVarshney commented on #649
please assign this to me.
I want o make first contribution.
I am from GLA University.

[2021-09-26 13:53] yash-2k21 commented on #649
sir, please assign this issue to me . I will fix it .
I am from GLA University.

[2021-09-26 13:53] Aman00702 commented on #649
Sir, please assign me this problem because I am good at c++. I can solve this problem.

[2021-09-26 13:56] yash-2k21 commented on #647
PLEASE ,ASSIGN ME THIS ISSUE . I SURELY WILL FIX IT.

[2021-09-26 13:56] Bansi-Marakana commented on #649
I can fix this issue. Please assign this issue to me

[2021-09-26 13:57] yash-2k21 commented on #650
please assign this issue , I will fix it.
I am from GLA University

[2021-09-26 13:58] aditi903 commented on #649
Hello Sir, Please assign this issue to me.

[2021-09-26 15:13] RESHU-05 commented on #650
Please assign this issue to me , I will fix it.
I am from ABESEC

[2021-09-26 15:39] Priyanshi-S commented on #650
Please assign this issue to me , I will fix it.
I am from ABESEC

[2021-09-26 15:59] vibrantachintya commented on #649
@yash-2k21 @ShreyashVarshney @Bharanidharan7708 @shrey714 You can start solving this. I will accept your PR without assigning.

[2021-09-26 16:01] ShreyashVarshney commented on #649
Sir,I already solved the issue.you can check.

On Sun, Sep 26, 2021, 9:29 PM Achintya Gaumat ***@***.***>
wrote:

[2021-09-26 16:14] shrey714 commented on #649
@vibrantachintya  Done sir

[2021-09-26 16:15] anshutiwariprayagraj commented on #647
Sir, please assign me this, I can fix this issue

[2021-09-26 17:22] anmol21mishra commented on #647
Sir i am good at java . I can fix this issue very well. Please assign this to me

[2021-09-26 17:22] Hrithik333 opened #675 "issue"
hi sir, please assign this task to me. I'm very experienced in c++ and can solve this issue.

[2021-09-26 17:25] #675 closed

[2021-09-26 17:25] Hrithik333 commented on #675
closing

[2021-09-26 17:26] Hrithik333 commented on #649
Sir, please assign me this problem because I am good at c++. I can solve this problem.

[2021-09-27 05:33] gb07bh commented on #649
Sir, Please assign this issue to me.

[2021-09-27 06:04] gb07bh commented on #650
Sir, Please assign me this issue. I would love to fix it.

[2021-09-27 08:59] vibrantachintya commented on #649
@gb07bh You can go ahead attempt the issue.

[2021-09-27 09:49] #651 closed

[2021-09-27 12:47] varsha080 commented on #649
sir please assign this task to me

[2021-09-27 15:38] RK-droid commented on #650
Sir, Please Assign this issue to me as I have experience with this issue .

[2021-09-27 15:40] RK-droid commented on #650
Sir, Please Assign this issue to me as I have experience with this issue and I am from Jaypee Institute of Information Technology

[2021-09-27 16:53] IshaSah commented on #650
Please assign this issue to me. I'll fix it

[2021-09-27 16:54] SahilSatyam commented on #650
Sir, assign this issue to me. I will fix it.

[2021-09-27 18:34] GauravMKedia commented on #647
Sir i am good in java ,I can fix this issue

[2021-09-28 06:42] muskaan5504 commented on #649
Please assign this issue to me.
I will fix it!

[2021-09-28 11:20] SnehuD commented on #650
Assign this issue to me. I will fix it

Please Assign this issue to me. I will fix it

[2021-09-28 11:20] SnehuD commented on #650
Assign this issue to me. I will fix it

[2021-09-28 12:00] Vedika-Agrawal commented on #649
Sir plz assign this to me, I will fix it. I'm well familiar with C++.

[2021-09-29 00:54] user23ayush opened #706 "HTML Covid Tracker"

[2021-09-29 00:58] #706 closed

[2021-09-29 09:09] Rutumbhara commented on #649
Sir please assign this issue to me.

[2021-09-29 09:40] vibrantachintya opened #707 "29th Sep : Write a Function in JAVA to achieve below functionality"
THIS IS A DEMO ISSUE FOR HACKTOBERFEST. PR raised for this will not be counted in Hacktoberfest, you may particpate for practice.

## "Sorting an Array"

Add following functionalities to it :

- Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.
- You have to do it in only 1

[2021-09-29 09:48] vibrantachintya opened #708 "29th Sep : Write a Function in C++ to achieve below functionality"
THIS IS A DEMO ISSUE FOR HACKTOBERFEST. PR raised for this will not be counted in Hacktoberfest, you may particpate for practice.

## "Sorting an Array"

Add following functionalities to it :

- Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.
- You have to do it in only 1

[2021-09-29 09:48] vibrantachintya opened #709 "29th Sep : Write a Function in Python to achieve below functionality"
THIS IS A DEMO ISSUE FOR HACKTOBERFEST. PR raised for this will not be counted in Hacktoberfest, you may particpate for practice.

## "Sorting an Array"

Add following functionalities to it :

- Given an array A[] consisting 0s, 1s and 2s. The task is to write a function that sorts the given array. The functions should put all 0s first, then all 1s and all 2s in last.
- You have to do it in only 1

[2021-09-29 09:56] vibrantachintya opened #710 "29th Sep : Make any 1 Web Page out of this Portfolio Website"
THIS IS A DEMO ISSUE FOR HACKTOBERFEST. PR raised for this will not be counted in Hacktoberfest, you may particpate for practice.

## Portfolio Website

Today we will be making this portfolio website, there are 6 pages in it. You have to make only 1 page out of these 6. You can make any one of your choice

Page 1 : home.html

![](https://raw.githubusercontent.com/twowaits/make-pull-request/master/

[2021-09-29 10:00] #647 closed

[2021-09-29 10:00] #653 closed

[2021-09-29 10:01] #650 closed

[2021-09-29 10:01] #649 closed

[2021-09-29 14:08] varsha080 commented on #708
Sir please assign this task to me.. I'm efficient in C++

[2021-09-29 15:17] mrpawan-gupta commented on #708
I have made a pull request Kindly merge !!! else follow it up!

[2021-09-29 16:21] anuj544 commented on #708
sir please assign the task. I would like to solve it.

[2021-09-29 16:36] Prajakta102 commented on #708
Sir please assign this task to me . I am good at c++.

[2021-09-29 17:14] vibrantachintya commented on #708
There is no need assigning. I have clearly written this in issue description.

Kindly read issue properly. Reading is one part of skillset in Open Source.

[2021-09-29 19:52] prathamesh3707 commented on #710
The PR  which we will be raising by 10 AM 30th Sep will just be for practise and will not be considered in the fest right?

[2021-09-30 04:05] srijan-singh commented on #709
Sir, please assign me this issue.

[2021-09-30 04:12] VISHAL-143x commented on #707
I want to work on this issue

[2021-09-30 06:01] bpolaswar commented on #707
I want to work on this issue

[2021-09-30 14:20] navjotdadwal commented on #708
Sir this issue can be solved by dutch national flag algorithm. I am currently rated 5 star at codechef with rating of 2153 and rated expert at codeforces with rating of 1776 and i can efficiently solve this problem

[2021-09-30 15:25] lovishprabhakar02 commented on #709
I would like to work on this issue. Please assign it to me.

[2021-09-30 17:16] avyayjain commented on #709
pls assign me for this issue as I think I can solve it

[2021-09-30 18:07] srijan-singh commented on #707
Sir, please assign me this issue. I've earned 4 stars in Java from Hackerrank and I'm quite confident that I'm able to solve it.
I would request you to please assign me it.

[2021-09-30 18:09] srijan-singh commented on #708
Sir, please assign me this issue I've earned 5 stars from Hackerrank. I'm quite confident that I can solve it.

[2021-09-30 18:28] #710 closed

[2021-09-30 18:28] #709 closed

[2021-09-30 18:28] #708 closed

[2021-09-30 18:28] #707 closed

[2021-09-30 18:39] vibrantachintya opened #741 "1st Oct : Write a Function in Python to achieve below functionality"
## Fibonacci Series with a Twist

Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
-Print the Fibonacci Series upto n while replacing prime numbers, all multiples of 5 by 0.

Sample Input :
12
27

Sample Output :
1 1 0 0 0 8 0 21 34 0 0 144
1 1 0 0 0 8 0 21 34 0 0 144 0 377 0 987 0 2584 4181 0 10946 17711 0 46368 0 121393 196418

- No need to wait fo

[2021-09-30 18:39] vibrantachintya commented on #741
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 18:41] vibrantachintya opened #743 "1st Oct : Write a Function in C++ to achieve below functionality"
## Fibonacci Series with a Twist

Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
-Print the Fibonacci Series upto n while replacing prime numbers, all multiples of 5 by 0.

Sample Input :
12
27

Sample Output :
1 1 0 0 0 8 0 21 34 0 0 144
1 1 0 0 0 8 0 21 34 0 0 144 0 377 0 987 0 2584 4181 0 10946 17711 0 46368 0 121393 196418

- No need to wait fo

[2021-09-30 18:42] Nikhil3389 commented on #741
Please assign this task to me I can fix it

[2021-09-30 18:42] vibrantachintya opened #744 "1st Oct : Write a Function in JAVA to achieve below functionality"
## Fibonacci Series with a Twist

Add following functionalities to it :

- Take input the value of 'n', upto which you will print.
-Print the Fibonacci Series upto n while replacing prime numbers, all multiples of 5 by 0.

Sample Input :
12
27

Sample Output :
1 1 0 0 0 8 0 21 34 0 0 144
1 1 0 0 0 8 0 21 34 0 0 144 0 377 0 987 0 2584 4181 0 10946 17711 0 46368 0 121393 196418

- No need to wait fo

[2021-09-30 18:42] vibrantachintya commented on #744
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 18:42] vibrantachintya commented on #743
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 18:44] therohit777 commented on #741
Please assign this to me I want to fix it.

[2021-09-30 18:46] therohit777 commented on #744
Assign this task to me I can fix it out..

[2021-09-30 18:52] vibrantachintya opened #747 "1st Oct : Make any 1 Web Page out of this Website"
## Tathastu Website

Today we will be making the website of Tathastu. Tathastu is a skill learning platform which provides a variety of courses to help students secure internships & jobs.

There are 4 pages in it. You have to make only 1 page out of these 4. You can make any one of your choice.

You can take all the necessary images from our [Website](http://tathastu.twowaits.in/)

Page 1 : intro.

[2021-09-30 18:52] vibrantachintya commented on #747
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 18:53] vibrantachintya commented on #744
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 18:53] vibrantachintya commented on #741
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 18:57] salman0ansari commented on #747
can we use Tailwindcss ?.

[2021-09-30 18:58] Sudhee-bsp commented on #744
@vibrantachintya Great for info.

[2021-09-30 19:03] vibrantachintya commented on #747
Yes..but do all code in 1 file.

[2021-09-30 19:13] tamojeetK commented on #747
Do we have to make exactly looking Webpage? or minimal changes like Font style etc. can be done?

[2021-09-30 19:15] vibrantachintya commented on #747
Yes minimal changes are ok. But keep the major components intact.

[2021-09-30 19:32] Amulya77 opened #767 "I want to add cool Website Desiginig resources to your repo"
Hi I am Amulya this  I want to add cool Website Designing resources to your repo.
Below is the screenshot of the same
![image](https://user-images.githubusercontent.com/79034752/135518736-7662cfea-13bb-4a08-b039-da788eb776d5.png)

[2021-09-30 19:35] SwapnilSoni1999 commented on #747
Will it be fine if fonts aren't same?

[2021-09-30 19:43] salimansari99 commented on #747
Kindly assign me page 1: Intro.html. As I did my two project on frontend web development. I got my hands on html and css. And I will put my full efforts and  complete it within deadline.

[2021-09-30 19:45] vibrantachintya commented on #767
Thanks but we have no such requirements.

[2021-09-30 19:45] #767 closed

[2021-09-30 19:47] vibrantachintya commented on #747
No need for assigning. Do read it carefully.

[2021-09-30 19:58] Amulya77 opened #796 "I want to add a c++ based game tic tac toe"
I want a tic tac toe game based on c++

[2021-09-30 20:00] pyprakhar commented on #741
please assign this to me i know this.

[2021-09-30 20:01] vibrantachintya commented on #796
No

[2021-09-30 20:01] #796 closed

[2021-09-30 20:05] SwapnilSoni1999 commented on #747
Can we make another xD?

[2021-09-30 20:05] Amulya77 commented on #796
why are you declining my issues

[2021-09-30 20:06] vibrantachintya commented on #747
Wait for next day. We will add more issues on 2nd Oct.

[2021-09-30 20:06] harshitsrivastava1608 commented on #744
Added 1stOct_harshitsrivastava1608.java #802

[2021-09-30 20:06] vibrantachintya commented on #741
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 20:17] harshitsrivastava1608 commented on #744
<b>Added 1stOct_harshitsrivastava1608.java <b>#802

[2021-09-30 20:21] pyprakhar commented on #741
ADDED 1stOct_pyprakhar.py

[2021-09-30 20:32] Saikiran-Mohanty commented on #747
Assign this issue to me , i shall make it

[2021-09-30 20:33] Saikiran-Mohanty commented on #747
Sir, please assign me this, I shall work on it.

[2021-09-30 20:44] SwapnilSoni1999 commented on #747
Ready with my keyboard to make thunderstrike tomorrow xD :heart:

[2021-09-30 20:52] AasthaJaipuria commented on #743
please assign this issue to me

[2021-09-30 21:06] vibrantachintya commented on #747
haha ok @SwapnilSoni1999

@Saikiran-Mohanty No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 21:07] vibrantachintya commented on #743
@AasthaJaipuria No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-09-30 21:40] dark-coder-cat commented on #741
When foing git clone some duplicate files like
'Python/8thOct-2.py'
  'Python/8thoct-2.py'
  'Python/9thOct-2.py'
  'Python/9thoct-2.py' …
And more 11 are saying collided (due to being duplicate)
What to do?
Can i submit PR with these files missing?🥲

[2021-09-30 21:44] dark-coder-cat commented on #741
When doing git clone some duplicate files like
  'Python/8thOct-2.py'
  'Python/8thoct-2.py'
  'Python/9thOct-2.py'
  'Python/9thoct-2.py' …
And more 11 are saying collided (due to being duplicate)
What to do?
Can i submit PR with those files missing?🥲

[2021-09-30 22:12] dark-coder-cat commented on #741
When doing git clone some case sensitive files like
'Python/8thOct-2.py'
  'Python/8thoct-2.py'
  'Python/9thOct-2.py'
  'Python/9thoct-2.py' …
And more 11 are saying collided (due to being duplicate case sensitive files)
I even tried downloading manually and renaming them
What to do?
Can i submit PR with these files missing?🥲

[2021-09-30 22:36] Kritika6100 commented on #744
Sir, please assign me this issue. I will fix it.

[2021-09-30 23:34] sauravrishu9810 commented on #747
As if I'm beginner ready to fix issues in your code
Please assign the task

[2021-10-01 00:36] user23ayush commented on #747
I am here to contribute with my skills and knowledge I am creating the website.

[2021-10-01 01:54] Agrim-Ani commented on #747
Can I create a directory and then add the html file to it? I have an additional images folder?

[2021-10-01 01:54] Agrim-Ani commented on #747
pls help

[2021-10-01 02:29] Narend9324 commented on #747
I can fix issue , lets give me a try

[2021-10-01 02:34] sunilbhara commented on #743
#include <bits/stdc++.h>
using namespace std;

vector<int> SieveOfEratosthenes(vector<int> r)
{
    int n = r[r.size()-1];
    bool prime[n + 1];
    memset(prime, true, sizeof(prime));
    prime[0] = false;
    prime[1] = false;
    for (int p = 2; p * p <= n; p++)
    {
        if (prime[p] == true)
        {
            for (int i = p * p; i <= n; i += p)
                prime[i] = false;

[2021-10-01 02:58] risav-sarkar commented on #744
Added my solution #890

[2021-10-01 03:34] risav-sarkar commented on #747
Made Page 2, #902

[2021-10-01 03:42] adipratapthakur commented on #741
would you please assign this task to me. I can fix this.

[2021-10-01 03:42] Agrim-Ani commented on #747
made page 2 #903

[2021-10-01 04:18] mondalraj commented on #744
Created 1stOct_mondalraj.java #917
Please merge my solution @vibrantachintya
If you find any bugs please let me know

[2021-10-01 04:39] anuragdw710 commented on #743
Please provied Range of  n.

[2021-10-01 04:44] 0901IT201046 commented on #743
Please assign this task to me. I will make it.

[2021-10-01 04:45] pttiwari11 commented on #744
Assign this issue to me. I will fix it.

[2021-10-01 04:47] jahnavi-yelamanchi commented on #743
Created pull request #926

[2021-10-01 04:50] pttiwari11 commented on #747
Sir, please assign this issue to me. I will fix it as i had made two projects using HTML, CSS, and some Bootstrap.

[2021-10-01 04:54] varsha080 commented on #743
Sir I have created the PR #901  . kindly have a look and merge it.

[2021-10-01 04:56] tamojeetK commented on #747
Made the Tathastu_Intro.html page please check it out. #929

[2021-10-01 05:20] therohit777 commented on #747
Made Page 2 : why_tathastu.html Please check it out. #948

[2021-10-01 05:27] neetisaharan13 commented on #743
please assign this to me

[2021-10-01 05:30] neetisaharan13 commented on #743
Sir I have created the PR #952 . kindly have a look and merge it.

[2021-10-01 05:37] Agrim-Ani commented on #743
Sir I have created the PR #954. Kindly have a look :)

[2021-10-01 05:54] aishaandatt commented on #743
Sir please assign this issue to me.

[2021-10-01 06:28] vibrantachintya commented on #747
@pttiwari11 No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-10-01 06:29] vibrantachintya commented on #743
@aishaandatt @0901IT201046 No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-10-01 06:30] vibrantachintya commented on #741
@adipratapthakur No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

@dark-coder-cat Yes

[2021-10-01 06:47] ajinkyabodke commented on #744
I have submitted the PR .can you check it once, please?
I have made a very simple and easy solution for the given problem

[2021-10-01 06:53] ajinkyabodke commented on #741
fixed the issue with very easy solution ,please merge it

[2021-10-01 07:02] DipanshuKumarRai opened #1017 "1stoct._dipanshu.cpp"
#972 i want to add reverse number in your code

[2021-10-01 07:23] shubhamSM1298 commented on #744
Sir, please assign me this issue. I will fix it.

[2021-10-01 07:24] #1017 closed

[2021-10-01 07:27] Sharayu1071 commented on #747
why_tathastu file added.
Please check it out. #1028

[2021-10-01 07:35] hd2342-dubey commented on #743
https://github.com/hd2342-dubey/Hacktober-Fest/blob/main/C%2B%2B/2021/1stOct_hd2342-dubey.cpp

[2021-10-01 07:39] AasthaJaipuria commented on #743
Sir I have created the PR #845, please have a look

[2021-10-01 07:40] mRahulRoy commented on #747
how to submit code html code and pictures used in site
please let me know

[2021-10-01 07:45] Udyansingh commented on #743
Sir please assign this issue to me.

[2021-10-01 07:47] shivamjha779 commented on #743
sir, please assign this issue to me. I will finish this before deadline.

[2021-10-01 07:52] vibrantachintya commented on #744
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-10-01 07:52] vibrantachintya commented on #743
No need to wait for getting assigned. Just go ahead and Raise PRs after doing the needed code.

[2021-10-01 07:53] Dinesh9350 commented on #747
why_tathastu_Dinesh9350.html added

[2021-10-01 07:56] hd2342-dubey commented on #743
Sir I have created the PR #1046, please have a look

[2021-10-01 07:56] mRahulRoy commented on #747
how to submit code html code and pictures used in site
please let me know

[2021-10-01 08:02] ajinkyabodke commented on #744
already did,can you please merge my pr
https://github.com/ajinkyabodke/make-pull-request/blob/master/JAVA/2021/1stOct_ajinkyabodke.java

[2021-10-01 08:05] SrishtiArya07 commented on #743
Sir, I have created pr #1052 for this issue. Please verify and merge it. Thanks!

[2021-10-01 08:06] nayankamalverma commented on #743
sir i am beginner .plsese help i have ceated solution file for above issue in my local sys .
how i will raise pull request

[2021-10-01 08:07] 0901IT201046 commented on #743
Done sir. I have created PR #995 . Please merge it.

[2021-10-01 08:10] harshraj8843 commented on #741
#1058

[2021-10-01 08:12] mRahulRoy commented on #747
how to submit code html code and pictures used in site
please let me know please. i am confused if i will submit the file then no images will be shown that i used for the page.
i mean how will i sumbit images with code, or i have to just submit the html code.

[2021-10-01 08:17] yashguptaji commented on #743
Donw with PR #1061 .
Pls check.:)

[2021-10-01 08:18] therohit777 commented on #747
@mRahulRoy Use the absolute image links from their website.

[2021-10-01 08:21] mRahulRoy commented on #747
you mean i have to copy image url from the website that we are cloning?
right ?

[2021-10-01 08:23] therohit777 commented on #747
@mRahulRoy Yes!

[2021-10-01 08:24] mRahulRoy commented on #747
now i have used absolute url.
so now i have to create a same file as mentioned and raise a PR right?
please help i am a begginer.

[2021-10-01 08:34] mRahulRoy commented on #747
hey i have raised a PR in the morning for a question. cannot i make a another PR for the html page?

[2021-10-01 08:36] nayankamalverma commented on #743
done sir.
Created PR #1071.
please check and merge it   ......

[2021-10-01 08:37] rajcodes03 commented on #743
sir please check pr number #1070
merge if you like it

[2021-10-01 08:41] Udyansingh commented on #743
Done Sir.
Created PR #1075.

[2021-10-01 09:07] shinchancode commented on #743
Sir check PR Added File #1098
completed task 1

[2021-10-01 09:25] Dinesh9350 commented on #747
added why_tathastu_Dinesh9350.html, please checkout #1111

[2021-10-01 09:33] Amankr705 commented on #743
done created PR #1116
pls merge it

[2021-10-01 09:35] parthn2 commented on #743
Created PR #1118

[2021-10-01 09:52] SB2318 commented on #744
I am trying to solve this problem, Please check it.

[2021-10-01 10:04] prahasR commented on #743
created a PR #877

[2021-10-01 10:19] pranavhingankar commented on #743
Please sir assign me with this issue. I am having very good hands on c++ language.

[2021-10-01 10:22] HarshKumarChoudary commented on #743
Created Pull Request #1142 . Please merge it.

[2021-10-01 10:42] shinchancode commented on #747
Added why_tathastu_shinchancode.html
Please checkout

[2021-10-01 10:43] ramyamahi commented on #747
Courses page courses_ramyamahi.html added. Please check #1154

[2021-10-01 10:53] ananya998 commented on #743
Sir please merge my pull request #1160

[2021-10-01 11:09] HimangsKalita commented on #747
could you accept pull request #1007

[2021-10-01 11:09] HimangsKalita commented on #743
could you accept pull request #1009

[2021-10-01 11:10] HimangsKalita commented on #741
could you accept pull request #1012

[2021-10-01 11:11] HimangsKalita commented on #744
could you accept pull request #1014

[2021-10-01 11:13] RiteshAgrawal2001 commented on #744
please accept my request 1oct_RiteshAgrawal2001.java #1168

[2021-10-01 11:37] DimpalAgrawal commented on #744
please merge my pull request 1Oct_Dimpal.java #1170

[2021-10-01 11:53] LakshithaSamod commented on #744
Added my solution  1stOct_LakshithaSamod.java #1008

[2021-10-01 11:57] vishalkrsharma commented on #743
added solution 1stOct_vishalkrsharma.cpp #1156
please accept my PR

[2021-10-01 12:01] TD-17 commented on #743
Please accept my PR #1191

[2021-10-01 12:18] lisha19 opened #1208 "1Oct_lisha19.cpp"
#include <bits/stdc++.h>
using namespace std;

vector SieveOfEratosthenes(vector r)
{
int n = r[r.size()-1];
bool prime[n + 1];
memset(prime, true, sizeof(prime));
prime[0] = false;
prime[1] = false;
for (int p = 2; p * p <= n; p++)
{
if (prime[p] == true)
{
for (int i = p * p; i <= n; i += p)
prime[i] = false;
}
}

// Print all prime numbers
for(int i=0; i<r.size(); i++)
    if(prime[r[i]]==true

[2021-10-01 12:46] dev-thakku commented on #743
Accept my PR #1215

[2021-10-01 12:52] dig9074vijay commented on #743
PR #1021 created for this issue. @vibrantachintya Please review it.

[2021-10-01 13:02] tamojeetK commented on #747
Made the Tathastu_Intro.html page please check it out. #929 Can u pls check it Sir @vibrantachintya

[2021-10-01 13:09] Yasas4D commented on #741
Hi! I added the python solution. Could you accept pull request #1232

[2021-10-01 13:20] Yasas4D commented on #744
Added my solution 1stOct_yasas4d.java
Could you accept the pull request #1244

[2021-10-01 13:31] akshatkant commented on #743
Whenever i am trying to do git status i am getting this error what should i do?

On branch 1stOct_akshatkant
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
        modified:   C++/10thOct-6.CPP
        modified:   C++/2021/26thSep-4.cpp
        modified:   HTML CSS/2021/Why_tathastu

[2021-10-01 13:37] dig9074vijay commented on #743
@akshatkant It is not an error, "git status" command gives you the current status of your repository. You need to stage your changes before commiting it.

You can go for: "git add ." to stage the changes you've made and then you can commit it using "git commit". And in order to push your commits to local repository you can use "git push origin"

[2021-10-01 13:40] iamprofessor1 commented on #743
/assing me

[2021-10-01 13:50] akshatkant commented on #743
Thanks @dig9074vijay for the info!!

[2021-10-01 13:54] rajni0829 commented on #741
1stOct_rajni0829.py #741

[2021-10-01 14:00] Amankr705 commented on #747
Added why_tathastu_Amankr705.html PR #1273
Pls have a look

[2021-10-01 14:03] dark-coder-cat commented on #741
#1271

[2021-10-01 14:03] dark-coder-cat commented on #741
#1271

[2021-10-01 14:04] dark-coder-cat commented on #741
#1271

[2021-10-01 14:05] dark-coder-cat commented on #741
Added the issue solution for 1st Oct python. Thnx 👍🏻
#1271

[2021-10-01 14:17] Supriyaverma0919 commented on #743
Sir plzz assign me this. I will fix it.

[2021-10-01 14:24] UTKARSHSHARMA718 commented on #747
Hello sir, can you please assign courses.html to me as I am looking forward to contributing to open source as a beginner, I am already familiar with the technology since I have created 5 projects using HTML,CSS and javascript.

[2021-10-01 14:26] mRahulRoy commented on #747
no assignmnet is happening here just work and raise PR thats it.

[2021-10-01 14:34] vibrantachintya commented on #747
No need to worry about so many students for 1 issue.

Everyone can work on it and every valid request will be merged by midnight.

Keep Hacking!

[2021-10-01 14:34] vibrantachintya commented on #744
No need to worry about so many students for 1 issue.

Everyone can work on it and every valid request will be merged by midnight.

Keep Hacking!

[2021-10-01 14:34] vibrantachintya commented on #743
No need to worry about so many students for 1 issue.

Everyone can work on it and every valid request will be merged by midnight.

Keep Hacking!

[2021-10-01 14:34] vibrantachintya commented on #741
No need to worry about so many students for 1 issue.

Everyone can work on it and every valid request will be merged by midnight.

Keep Hacking!

[2021-10-01 15:04] Yash2001340 commented on #743
Sir please assign me this ,I want to fix this and also I want to more and more contribution in open source

[2021-10-01 15:18] TheVivekRajput commented on #743
#include <bits/std.h>
using namespace std;
bool Prime(int p)
	    {
	        if (p <= 1)
	            return false;
	        for (int i = 2; i < p; i++)
	            if  #(p % i == 0)
	                return false;
	        return true;
	    }

int main   ##{
	      int n;
              cout<<"Enter number of terms required:";
              cin>>n;
	      int a = 1, b=1,c;
	      cout<<a<<" "<<b<<

[2021-10-01 15:20] TheVivekRajput commented on #743
1stoct_TheVivekRajput

[2021-10-01 15:46] AnmolManocha commented on #747
#1345

[2021-10-01 15:59] VishalS047 commented on #744
Please assign me this I want to contribute

[2021-10-01 16:16] abdul-sohail24 commented on #747
Sir, please evaluate Pull Request #1369

[2021-10-01 16:19] Ananya02850 opened #1373 "FIND FREQUENCY OF ELEMENTS IN A GIVEN ARRAY"
want to work on this, please assign

[2021-10-01 16:21] bidishaMondal7 commented on #1373
Interested to contribute. Please assign

[2021-10-01 16:24] Shubham56-droid commented on #1373
please assign this issue to me.

[2021-10-01 16:25] Shubham56-droid commented on #743
I have solved the above question in c++ pls check my  pull request it here #1381

[2021-10-01 16:25] Ahan-Sarkar commented on #744
please merge mine 1stOct_Ahan-Sartkar

[2021-10-01 16:26] VishalS047 commented on #1373
please assign me this issue. I can solve it

[2021-10-01 16:26] Shubham56-droid commented on #743
if it's correct and u like it pls merge it. -> #1381

[2021-10-01 16:28] Shubham56-droid commented on #1373
which coding language  and folder location we are suppose to choose ?

[2021-10-01 16:32] VishalS047 commented on #1373
java

[2021-10-01 16:33] subhradwip01 commented on #744
please merge my PR 1stOct_subhradwip01

[2021-10-01 16:35] #1373 closed

[2021-10-01 16:35] sarvanithin commented on #747
assign this to me

[2021-10-01 16:44] siddhantkanwal commented on #747
assign me any page from this I really want to work on as this will be my first open-source contribution

[2021-10-01 16:50] Amulya77 commented on #743
@vibrantachintya  I added a code please review my PR #1404

[2021-10-01 17:31] gauravsinhaweb commented on #747
Check PR https://github.com/twowaits/make-pull-request/pull/1432

[2021-10-01 18:25] Aniket-508 commented on #747
Checkout PR #1451

[2021-10-01 18:30] Oiklite01 commented on #741
Added my solution to the issue

[2021-10-01 18:57] dhruvgarg02 commented on #743
@vibrantachintya I have solved the ques in C++, please review my PR #1209

[2021-10-01 18:58] dhruvgarg02 commented on #747
@vibrantachintya I have made the Courses (Testimonials Page) and raised a PR #1305 regarding the same

[2021-10-01 19:00] iamprofessor1 commented on #743
@vibrantachintya  Please review  this pr
https://github.com/twowaits/make-pull-request/pull/1270

[2021-10-01 19:05] SwapnilSoni1999 commented on #747
where's 2nd day task though

[2021-10-01 19:22] himanshuv242 commented on #743
Assign this issue to me sir, i have experience in c++ and problem solving but a beginner on open source. Need some boost.

[2021-10-01 19:31] LakshithaSamod commented on #744
Edited my file

[2021-10-01 20:40] johnjoel2001 commented on #741
I can work on this. I have a good  knowledge of python.

[2021-10-01 20:41] #747 closed

[2021-10-01 20:41] #744 closed

[2021-10-01 20:42] #743 closed

[2021-10-01 20:42] #741 closed

[2021-10-01 20:46] prayatharth commented on #741
Hi There
Wasn't it supposed to be open till 10 AM IST today ??

[2021-10-01 20:48] vibrantachintya opened #1505 "3rd Oct : Write a Function in C++ to achieve below functionality"
This repo is excluded from Hacktoberfest. But you can solve below issue for practice and win a Certificate of Appreciation for contributing to Twowaits Repo.

## ZigZag Problem

Add following functionalities to it :

- Take input of number of rows and columns.
- Print the following zigzag pattern.

Sample Input :
7 16

Sample Output :
<pre>
1                       13
  2                  12  14

[2021-10-01 20:48] vibrantachintya commented on #1505
No need to wait for getting assigned, you can go ahead attempt the issues and raise a PR by 10 AM 3rd Oct.

[2021-10-01 20:50] vibrantachintya opened #1507 "3rd Oct : Write a Function in Python to achieve below functionality"
This repo is excluded from Hacktoberfest. But you can solve below issue for practice and win a Certificate of Appreciation for contributing to Twowaits Repo.

## ZigZag Problem

Add following functionalities to it :

- Take input of number of rows and columns.
- Print the following zigzag pattern.

Sample Input :
7 16

Sample Output :
<pre>
1                       13
  2                  12  14

[2021-10-01 20:50] vibrantachintya commented on #1507
No need to wait for getting assigned, you can go ahead attempt the issues and raise a PR by 10 AM 3rd Oct.

[2021-10-01 20:51] vibrantachintya opened #1508 "3rd Oct : Write a Function in JAVA to achieve below functionality"
This repo is excluded from Hacktoberfest. But you can solve below issue for practice and win a Certificate of Appreciation for contributing to Twowaits Repo.

## ZigZag Problem

Add following functionalities to it :

- Take input of number of rows and columns.
- Print the following zigzag pattern.

Sample Input :
7 16

Sample Output :
<pre>
1                       13
  2                  12  14

[2021-10-01 20:51] vibrantachintya commented on #1508
No need to wait for getting assigned, you can go ahead attempt the issues and raise a PR by 10 AM 3rd Oct.

[2021-10-01 21:03] vibrantachintya opened #1511 "3rd Oct : Make any 1 Web Page out of this Website"
This repo is excluded from Hacktoberfest. But you can solve below issue for practice and win a Certificate of Appreciation for contributing to Twowaits Repo.

## Google Search - "Achintya Gaumat"

Today we will be making the website of Google.

There are 2 pages in it. You have to make only 1 page out of these 2. You can make any one of your choice.

You can take all the necessary images by going

[2021-10-01 21:03] vibrantachintya commented on #1511
No need to wait for getting assigned, you can go ahead attempt the issues and raise a PR by 10 AM 3rd Oct.

[2021-10-01 22:18] JatinKumarMahaldar commented on #1505
@vibrantachintya sir i made a PR #1521 please check it.

[2021-10-01 22:48] SwapnilSoni1999 commented on #1511
Created google homepage :)

[2021-10-02 02:11] HarshKumarChoudary commented on #1505
I made a PR #1538 .Please check it.

[2021-10-02 03:03] Nachiket-N commented on #1507
Task completed for 2nd October #1543

[2021-10-02 03:10] harsh-mr commented on #1505
in this question  i am getting more symmetrical pattern than yours ,here i am talking about spacing to be precise spacing between 13 and 14.please confirm .otherwise its easy one .thank you

[2021-10-02 03:17] Subrata-Rajak commented on #1505
@vibrantachintya sir please check my pr #1307

[2021-10-02 03:27] AsutoshSenapati commented on #1505
@vibrantachintya sir I made a PR #1307 . Kindly check it

[2021-10-02 03:28] rishuuppal0123 commented on #1511
can u assign me the first issue i.e, Google Homepage

[2021-10-02 03:29] AsutoshSenapati commented on #1505
@vibrantachintya sir I made a PR #1387 . Kindly merge it.

[2021-10-02 03:33] Bharat-kr commented on #1511
In the page do we need to provide the links url aur just have to make static page that just look like this? And can you assign me that page ?

[2021-10-02 03:33] Rasesh2005 commented on #1507
@vibrantachintya, I think there is some  __Typing Mistake__ in The Pattern, There Should Be 1 space less between 1 and 13(22 spaces to be precise)

The Pattern Should Be As Follows:

1                      13
  2                  12  14
    3              11      15
      4          10          16
        5      9
          6  8
            7

Please Correct it to remove confusion among other cont

[2021-10-02 03:34] JHANKAR08 opened #1552 "Plz assign me this issue"
I will like to make code better

[2021-10-02 04:00] durgesh-4526 commented on #1505
@vibrantachintya sir please check my PR #1563.

[2021-10-02 04:12] Tanushree-Ghosh commented on #1505
@vibrantachintya sir please check my PR #1569.

[2021-10-02 04:20] harsh-mr commented on #1505
@vibrantachintya  sir please check my PR #1328

[2021-10-02 04:24] AmeyaKulkarni2001 commented on #1511
Please Assign me the first page ie google_home.html, I believe I can submit it before the deadline

[2021-10-02 04:45] rnrathod16 commented on #1505
[Zig-Zag Pattern using Cpp](https://github.com/twowaits/make-pull-request/pull/1582)

PR #1582

[2021-10-02 04:52] SamarthKadam commented on #1511
Can I make 1st page that is google_home.htmt?

[2021-10-02 05:07] sai-varshith commented on #1511
Created Google Home Page #1588

[2021-10-02 05:08] rnrathod16 commented on #1511
google_home_rnrathod16 #1582

Created the home page of google same as the sample provided

[2021-10-02 05:13] harshjha01 commented on #1505
@vibrantachintya please check my PR #1592

[2021-10-02 05:44] prathamesh3707 commented on #1511
No need to get assigned

[2021-10-02 05:55] varsha080 commented on #1505
@vibrantachintya Sir I have created my PR #1557 Please review it and merge it.

[2021-10-02 06:04] #1552 closed

[2021-10-02 06:18] TD-17 commented on #1511
@vibrantachintya I have already started working on Google_home page. Will I have to select other page now?

[2021-10-02 06:18] Yash2001340 commented on #1507
Sir please assign this issue to me ,I can made the code efficiently also I want to do more and more open source contribution

[2021-10-02 06:22] Rasesh2005 commented on #1507
Read contribution guidelines, It says no need for assignment of issues, You can directly create a Pull request

[2021-10-02 06:23] abdul-sohail24 commented on #1511
+1

[2021-10-02 06:25] Jayy31 commented on #1508
Assign this issue to me

[2021-10-02 06:26] parisheelan commented on #1511
I have made the intro.html page PR. Why is it not accepted?

[2021-10-02 06:28] PrerakMathur20 commented on #1505
I have efficiently solved this problem in C++, kindly check my PR #1625.

[2021-10-02 06:28] InnocentDaksh63 commented on #1511
hey sir i m goot at html and css and i have started a working for google_homepage so please assign me i  will surely submit a code before deadline.

[2021-10-02 06:45] SwapnilSoni1999 commented on #1511
My PR is still not merged yet I created within two hour when issue was created,
#1528
Can you please look into it

[2021-10-02 07:00] 0901IT201046 commented on #1505
Sir, I have created the PR #1641. Please merge it.

[2021-10-02 07:03] PrerakMathur20 commented on #1505
I have improved and fixed my code for several corner cases in my PR #1625.
Kindly Review and Merge it at your earliest convenience.

[2021-10-02 07:05] Alankruthisaieni commented on #1508
@vibrantachintya sir I have created PR #1642 .Please Check it

[2021-10-02 07:11] tandrimasingha commented on #1507
Please assign this to me. I will fix it

[2021-10-02 07:13] InnocentDaksh63 commented on #1505
i am good in c++ and i able to do this task kindly assign me for this.

[2021-10-02 07:16] abdul-sohail24 commented on #1511
Kindly evaluate Pull Request #1649

[2021-10-02 07:19] abbhardwaj01 commented on #1511
Google Homepage by  abbhardwaj01 #1648

[2021-10-02 07:24] InnocentDaksh63 commented on #1507
please asign me for this

[2021-10-02 07:27] pradeep8577 commented on #1505
Sir,please assign me this issue

[2021-10-02 07:27] PrerakMathur20 commented on #1508
I have efficiently solved this problem in **JAVA** , kindly check my PR #1625.
Kindly Review and Merge it at your earliest convenience.

[2021-10-02 07:29] vansh-arora18 commented on #1505
I have efficiently solved this problem in Cpp, kindly check my PR #1654.

[2021-10-02 07:56] Pranay-Thakre commented on #1511
Sir kindly assign me the first issue.

[2021-10-02 08:39] seema-Patel888 opened #1692 "Issue Request"
Hi, Please assign this issue to me.

[2021-10-02 08:48] Khushi-Shukla commented on #1505
@vibrantachintya I have created a PR #1696 which solves the isse. Please review it.
Output:
![ss](https://user-images.githubusercontent.com/55341533/135709753-a40cc98f-2266-41b6-b739-bdbc5301445e.png)

[2021-10-02 08:50] DimpalAgrawal commented on #1505
sir please my pull request #1698

[2021-10-02 08:54] #1692 closed

[2021-10-02 08:55] vibrantachintya commented on #1511
No need to wait for getting assigned, you can go ahead attempt the issues and raise a PR by 10 AM 3rd Oct.

[2021-10-02 08:55] vibrantachintya commented on #1507
No need to wait for getting assigned, you can go ahead attempt the issues and raise a PR by 10 AM 3rd Oct.

[2021-10-02 08:56] vibrantachintya commented on #1505
No need to wait for getting assigned, you can go ahead attempt the issues and raise a PR by 10 AM 3rd Oct.

[2021-10-02 09:01] cmvyas commented on #1508
I am a java programmer and I will love to solve this challenge, please do assign me this.

[2021-10-02 09:07] jahnavi-yelamanchi commented on #1505
Created a PR #1708 .Kindly check it and merge it. Thank you!

[2021-10-02 09:09] lovishprabhakar02 commented on #1505
@vibrantachintya Sir I have solved this problem and created a PR #1711. Kindly check and merge it. Thank you!

[2021-10-02 09:21] malvika-sinha commented on #1508
Sir I can Fix this issue! Please Assign me

[2021-10-02 09:29] ananya998 commented on #1505
Sir I have solved this issue please merge my pr #1717

[2021-10-02 10:39] saugat-rimal commented on #1511
i have completed the google homepage but when i see it now that option is gone. please help

[2021-10-02 10:45] Kilashi commented on #1511
Please assign me the Page-1 i.e. search-achintya.html...I will solve the issue before the deadline...

[2021-10-02 11:11] Utsaviranjan commented on #1511
/assign I pertain the skills required for the successful completion of this project, hence, I request you to go through my GitHub profile.

[2021-10-02 11:14] jhankarnarang opened #1763 "Can you plz assign me this issue"
Will like to write code of this problem

[2021-10-02 11:42] SwapnilSoni1999 commented on #1763
please do not create spam issues

[2021-10-02 11:43] SwapnilSoni1999 commented on #1511
Please read the entire post once again the maintainer told "no need to assign just send PR directly"
Hope that makes sense

[2021-10-02 11:59] hrishik18 commented on #1508
Please check my PR #1327
Kindly review it. Thank you
@vibrantachintya

[2021-10-02 13:06] #1763 closed

[2021-10-02 13:24] tamojeetK commented on #1511
The Day 1 project has been marked as Excluded. Pls check this out @vibrantachintya Sir😭
![image](https://user-images.githubusercontent.com/89387048/135718181-4eb1ac88-c958-4d3f-967b-3d8e1c6fc4a0.png)

[2021-10-02 13:45] Amankr705 commented on #1505
PR #1808
Kindly check

[2021-10-02 13:45] Rohit5152 commented on #1505
Sir Please Assign this issue to me.

[2021-10-02 13:46] AsmaIbrahimButt commented on #1507
Assign this issue to me. i will fix it.

[2021-10-02 14:23] vibrantachintya opened #1814 "IMPORTANT NOTICE. Kindly read till the end!"
We just got message from many contributors that our repo is excluded from Hacktoberfest.

We checked through many sources and it's true. All the PRs we have accepted will not be counted for fest. We request you to open PRs at other eligible repos.!!

The possible reason : It got so much attentions, 10s of students must have reported it to Hacktoberfest Support about us. It's not just us, almost al

[2021-10-02 14:46] mRahulRoy commented on #1814
@vibrantachintya
No worries Sir. becouse of this Repo i realised how much capable i am. ThankYou for that.

[2021-10-02 14:50] anuragnewbie commented on #1814
I have invested around 4 hours to build the achintya_videos.html webpage and I was just about to raise a pull request and suddenly I saw this message. 😔

[2021-10-02 14:54] mRahulRoy commented on #1814
bro knowledge to badhi hi hogi kam toh nhi hui hogi. that is important.
t-shirt to mil hi jayegi skill hai toh.

[2021-10-02 14:56] anuragnewbie commented on #1814
ha bus thoda bura lag raha hai...ye humara 1st hacktoberfest hai and ye hmara pehla PR hota isliye.

[2021-10-02 14:58] mRahulRoy commented on #1814
haa bhai same. Woh toh Hai

[2021-10-02 16:00] SamarthKadam commented on #1511
Can I make second page of google . But where will I get the thumbnail of the video?

[2021-10-02 16:04] SwapnilSoni1999 commented on #1814
F

[2021-10-02 16:10] vibrantachintya commented on #1814
Should I accept these open 526 PRs or not?

What do you think?

[2021-10-02 16:18] anuragnewbie commented on #1814
if you open that will be very helpful for us cz many of us are new contributors and this is my first hacktoberfest and your issue is the first in which I have made a pull request.

[2021-10-02 16:22] SwapnilSoni1999 commented on #1814
Give it a try, Even though the old PR showing "Project excluded"
![image](https://user-images.githubusercontent.com/25403317/135724673-73d44d06-9cce-4787-bace-58743b218b70.png)

[2021-10-02 16:40] ankitjee commented on #1814
To make the repo eligible, you may add a label to this repo "hacktoberfest" "hacktoberfest-accepted" "hacktoberfest-2021"

[2021-10-02 16:44] vibrantachintya commented on #1814
@ankitjee are it was there. I just removed it today so that students don't get confused thinking it is Hacktoberfest's repo.

[2021-10-02 16:45] ankitjee commented on #1814
Ohh okay, I didn't know that. I looked at the repo just now.

[2021-10-02 16:59] vibrantachintya commented on #1814
@SwapnilSoni1999 Am I connected to you on Whatspp? Do ping if you are if not then ping at : 9456056603

[2021-10-02 17:15] varsha080 commented on #1814
Sir accept the PRs as it would be useful for us.

On Sat, Oct 2, 2021, 10:29 PM Achintya Gaumat ***@***.***>
wrote:

[2021-10-02 18:33] vibrantachintya commented on #1814
How will it be helpful? @varsha080

[2021-10-02 19:00] varsha080 commented on #1814
Sir It was our first PR. It would sir for us

On Sun, Oct 3, 2021, 12:04 AM Achintya Gaumat ***@***.***>
wrote:

[2021-10-02 19:21] Abu764 opened #1830 "Hello"
Hi
Friends

[2021-10-03 02:21] mRahulRoy commented on #1814
@vibrantachintya
Sir accepting the PR will not help them in Hactober fest but as a gesture of appreciation for their work.

[2021-10-03 06:18] sauravrishu9810 commented on #747
I can do it just in some time as of my past experience

[2021-10-03 08:19] rohan9024 commented on #1830
hi

[2021-10-03 08:49] #1830 closed

[2021-10-03 09:25] lovishprabhakar02 commented on #1505
#1711

[2021-10-03 09:26] lovishprabhakar02 commented on #1505
Kindly check PR #1771.

[2021-10-03 09:37] vibrantachintya commented on #1814
OK will accept all eligible.

You can continue with PRs for getting certificate of appreciation.

[2021-10-03 09:37] Khushi-Shukla commented on #1505
Please review and merge PR #1696

[2021-10-03 09:39] mRahulRoy commented on #1814
This is awesome...

[2021-10-03 09:40] anuragnewbie commented on #1814
Thank you so much @vibrantachintya sir :-)

[2021-10-03 11:22] Abu764 commented on #1830
How are you

[2021-10-03 11:31] AshishG97 commented on #1508
I am able to fix this issue kindly assign this issue to me.

[2021-10-03 11:40] RiteshAgrawal2001 commented on #1508
Please accept my request

[2021-10-03 11:44] AshishG97 commented on #1507
please assign this issue to me.

[2021-10-03 11:55] varsha080 commented on #1507
Sir I have created PR #1557 . Please review it and merge it. In case of any conflict, let me know

[2021-10-03 13:51] aakashjain294 commented on #1508
I can fix this issue. Kindly assign this to me as I am proficient in JAVA language,

[2021-10-03 14:14] PriyaRawat18 commented on #1507
Please assign this to me, I'll fix It.

[2021-10-03 17:21] piyushjohari commented on #1511
Hi sir, I Piyush,
I have a good experience of creating websites and I will try my best to do this task on time and of quality.

[2021-10-03 17:26] piyushjohari commented on #1507
hi sir,
Piyush here, Sir assign this issue to me, I can make the code efficiently and I'll fix It.

[2021-10-03 19:07] Sandhya1731 commented on #1511
Hi sir,I'm Sandhya,
please asign me first page

[2021-10-03 23:13] Koushikon opened #1848 "Zigzag problem solution"
# My Program output of `Zigzag` problem

[code]

Solved this problem but don't know how to add here so, I added to my repo:

- [Link](https://github.com/Koushikon/CPP.Programs/blob/master/Programs/Zigzag_pattern-1/Solution-1.cpp)

`Name`: Koushik

[2021-10-04 00:25] Sakshi14-code commented on #1848
Assign this issue to Me,I'll fix it.

[2021-10-04 04:46] yashpy commented on #1848
Plz assign this issue to me, I would like to code this issue.

[2021-10-04 06:52] Koushikon commented on #1848
I don't know actually how to assign this issue to someone

[2021-10-04 07:31] #1848 closed

[2021-10-04 08:01] OMEN-D commented on #1511
Hello, I am new to open source and stuff but I wanted to try it out for the first time, I have contributed once a 1st year college group project but never done it on github, I just came here after watching the youtube video, so after reading everything I think we have to make google web page clone I think so can you please assign me that or any other thing

[2021-10-04 15:46] prateeekgoel7248 commented on #1507
Hello sir
Please provide me the permission I will solve this problem

[2021-10-04 16:49] prateeekgoel7248 commented on #1507
Hello sir
Please provide me the permission I will solve this problem

[2021-10-04 18:07] Koushikon commented on #1814
It's the first repo that I'm actually contributed to in code for me `Hacktoberfest` or not I'm good and thankful.

[2021-10-04 19:20] Utsaviranjan commented on #1511
I pertain the skills required for the successful completion of this task. please do check my profile and assign this task to me.

[2021-10-05 07:02] padamwar commented on #1507
Assign this issue to me. i will fix it.

[2021-10-05 12:28] Utsaviranjan commented on #1511
Sir can we still do the first issue? I'm working on it.

[2021-10-05 14:44] vishalnakumdev commented on #1511
hello I m vishal
I had created PR [1868](https://github.com/twowaits/make-pull-request/pull/1868) a new page about us.
can you please marge?

[2021-10-08 09:01] prokan468 commented on #1507
Good Afternoon Sir,

I am capable of solving this problem. Please do assign it to me and I shall provide the results as soon as possible.

[2021-10-08 16:59] Khushboo288 commented on #1511
Hello sir, can we still work on this??

[2021-10-09 06:24] vibrantachintya opened #1874 "9th Oct : Make any 1 Web Page out of this Website"
This issue is part of Tathastu OpenFest. Make 3 PRs in 9th-10th Oct and win a certificate of Tathastu OpenFest 2021.

## Youtube Search - "Achintya Gaumat"

Today we will be making the website of Youtube.

There are 2 pages in it. You have to make only 1 page out of these 2. You can make any one of your choice.

You can take all the necessary images by going to Youtube and searching "Twowaits".

P

[2021-10-09 06:24] #1511 closed

[2021-10-09 06:27] vibrantachintya opened #1875 "9th Oct : Write a Function in JAVA to achieve below functionality"
This repo is excluded from Hacktoberfest. But you can solve below issue for practice and win a Certificate of Appreciation for contributing to Twowaits Repo.

## GCD of Factorials

Add following functionalities to it :

- You are given two number a and b, you have to print the GCD of the factorials of these two numbers.
- Print the number on the basis of sample I/O provided below.

Sample Input :

[2021-10-09 06:27] #1508 closed

[2021-10-09 06:28] POPPOY-N commented on #1505
Please assign this issue to me

[2021-10-09 06:29] vibrantachintya opened #1876 "9th Oct : Write a Function in C++ to achieve below functionality"
This issue is part of Tathastu OpenFest. Make 3 PRs in 9th-10th Oct and win a certificate of Tathastu OpenFest 2021.

## GCD of Factorials

Add following functionalities to it :

- You are given two number a and b, you have to print the GCD of the factorials of these two numbers.
- Print the number on the basis of sample I/O provided below.

Sample Input :
5 120

Sample Output :
120

- No need to

[2021-10-09 06:30] vibrantachintya opened #1877 "9th Oct : Write a Function in Python to achieve below functionality"
This issue is part of Tathastu OpenFest. Make 3 PRs in 9th-10th Oct and win a certificate of Tathastu OpenFest 2021.

## GCD of Factorials

Add following functionalities to it :

- You are given two number a and b, you have to print the GCD of the factorials of these two numbers.
- Print the number on the basis of sample I/O provided below.

Sample Input :
5 120

Sample Output :
120

- No need to

[2021-10-09 06:30] #1507 closed

[2021-10-09 06:39] vibrantachintya commented on #1876
No need to wait for getting assigned, you can go ahead attempt the issues!

[2021-10-09 06:42] Madanaa commented on #1875
@vibrantachintya can I take this issue

[2021-10-09 06:44] shahzaibishtiaq commented on #1874
Kindly assign this issue to me.

[2021-10-09 06:54] vibrantachintya commented on #1874
No need to wait for getting assigned, you can go ahead attempt the issues!

[2021-10-09 07:21] Madanaa commented on #1875
@vibrantachintya sure thank you for quick reply

[2021-10-09 07:51] ssachis commented on #1876
why is the sample output 120 here ,shouldn't it be 5?

[2021-10-09 07:58] vibrantachintya commented on #1876
@ssachis think why!

[2021-10-09 08:03] RiyaGupta89 commented on #1874
@vibrantachintya Can I start working on the issue?

[2021-10-09 08:15] ahanavish commented on #1876
Sir, can I still work on this issue?

[2021-10-09 08:22] AnshuPathak-88825 commented on #1876
@vibrantachintya  solved GCD of Factorials pls merge it

[2021-10-09 09:32] SaiAvinash2002 commented on #1877
Pls assign this to me

[2021-10-09 10:05] rishavsolanki20 commented on #1876
Sir may you please assign me this issue. Thanks!!!

[2021-10-09 10:16] Ronak-Proghammer commented on #1874
@vibrantachintya Please assign this issue to me.

[2021-10-09 16:46] chidam333 commented on #1877
Assign this issue to me sir i am freshman and its my request 😊

[2021-10-09 18:18] padamwar commented on #1877
plz assign me i will do it

[2021-10-10 16:26] only4nishtha commented on #1874
@vibrantachintya can i work on it now?

[2021-10-11 03:31] Priyanshuparihar commented on #1877
plz assign me this issue

[2021-10-15 16:11] Jyothsna1234ms commented on #1877
Please assign this to me.

[2021-10-21 18:36] RitikD commented on #1877
Please assign this to me @vibrantachintya

[2021-10-21 20:57] Naveed-kaimkhani commented on #1875
i can resolve this issue assigned me plzz.

[2022-08-16 20:07] ECGTy opened #1988 "Privet information."
Ready

[2022-09-03 21:00] aym4nn opened #1989 "Username Finder"
.

[2022-09-03 21:01] #1989 closed

[2022-09-09 06:54] ishani-1255 commented on #1877
Hi Sir, saw your video on 'Open source contribution on GitHub'. I have some prior knowledge about python. If this issue is open, would love to work on it.

[2022-10-10 02:38] dip14-j commented on #1876
Assign this to me i would like to work on it